<h1 class="text-white mb-3"><strong>Let's Explore</strong></h1>
<div class="search_bar">
  <input type="text" placeholder="Search for Colleges, Exams, Results & More" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="searchtext" name="searchtext" (keyup.enter)="search_Click()">
  
  <a href="javascript: void(0)" class="input_search_ic d-flex align-items-center" (click)="search_Click()">
    <i class="fa fa-search" ></i>
    <h5 class="pl-2 m-0">Search</h5>
  </a>
</div>
<!-- <ul class="latest_links mt-3">
    <li><a href="">IIT/JEE Online Preparation</a></li>
    <li><a href="">NEET Online Preparation</a></li>
</ul> -->
