.breadcrumb li {
  color: #fff;
  font-weight: 500;
}

.breadcrumb li a {
  color: #bbb;
  font-weight: 400;
}

.breadcrumb {
  background: none !important;
}
.bg_color {
  background-color: #28323b !important;
}

.bg_color_green {
  background-color: #8dc642;
}
.link_class a:hover {
  text-decoration: underline;
  cursor: pointer;
  text-decoration-color: white;
}

/* p {
  color: red
} */
/* 
.page_heading img {
  background: #fff;
  padding: 0;
  margin: 0 !important;
}

.page_heading .img-inner {
  display: inline-block;
  white-space: nowrap;
  background-color: #fff;
  font-size: 0;
} */

h1.title_1 {
  line-height: 1.3;
  margin: 10px 0 0;
  font-size: 32px;
}
h1.title_2 {
  margin-top: 10px;
  margin: 15px 0 0;
}

.section_1 {
  padding-top: 5px;
  padding-bottom: 15px;
  color: #fff;
}
.subscribe_area {
  background-color: #2b2b2b;
  color: #eee;
  text-align: center;
  padding: 10px;
  font-family: fontregular, droid sans, Arial, Verdana, sans-serif;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-decoration: underline;
  text-underline-position: under;
}

.subscribe_area a {
  color: #eee;
  padding: 5px;
}
.subscribe_area a:hover {
  color: inherit;
}

.page_sub_header {
  padding: 15px;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.page_sub_header h2 {
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
  font-family: fontregular, sans-serif;
}

.advertisement_area {
  margin: 0;
  text-align: center;
  padding-bottom: 30px;
}

.talk_apply_area {
  border: 14px solid #f2f2f2;
}
.talk_apply_area p {
  font-size: 20px;
  font-family: fontregular, sans-serif;
}

.nav-tabs .nav-link.active {
  background-color: #f8f9fa !important;
}

.cutoffs-li {
  width: 100%;
  outline: none;
  padding: 15px 30px 15px 10px;
  position: relative;
  color: #000;
  font-size: larger;
  line-height: 1.2;
  border-bottom: 0.25px solid #d0d0d3;
}

.logo_color {
  color: #8dc642 !important;
}

/* CONNECTIVITY */
.nearby_box:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.nearby_box {
  display: flex;
  align-items: center;
  padding: 5px;
}
.nearby_box .fa {
  padding: 0 20px;
  font-size: 28px;
  line-height: 16px;
  color: #555;
}
.nearby_box .nearby_details {
  padding: 10px;
  padding-left: 20px;
  position: relative;
  font-size: 16px;
}
.nearby_box .nearby_distance {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
}
.nearby_box .nearby_details div {
  margin-bottom: 5px;
}
.nearby_box .nearby_details::before {
  position: absolute;
  content: "";
  background: #eee;
  width: 1px;
  height: 50%;
  top: 25%;
  left: 0;
}

.bg_theme_colored {
  background-color: #202c45 !important;
}

.value {
  color: white !important;
  font-size: 18px;
  font-weight: 500;
}

#main-content {
  background-color: #f1f1f1;
}

table {
  /* for .table class */
  width: 100% !important;
  margin-bottom: 1rem;
  color: #212529;

  /* for .table-bordered  class */
  border: 1px solid #dee2e6;
}

table td,
table th {
  /* for .table-sm class */
  padding: 0.25rem !important;
  font-size: 14px;

  /* for .table-bordered td,.table-bordered th  classes */
  border: 1px solid #dee2e6;
}
