<div class="banner_wrapper">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                <app-homesearch></app-homesearch>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 courses_grid d-flex flex-wrap align-content-stretch align-self-stretch">
                <div class="cg_item">
                    <img width="40%" src="../../../assets/images/svg_icons/Results.svg"/>
                    <small class="mt-2 mb-0"><a class="nav-link" [routerLink]="['/results']" routerLinkActive="active">Results</a></small>
                </div>
                <div class="cg_item">
                    <img width="40%" src="../../../assets/images/svg_icons/news.svg"/>
                    <small class="mt-2 mb-0"><a class="nav-link" [routerLink]="['/news']" routerLinkActive="active">News</a></small>
                </div>
                <div class="cg_item">
                    <img width="40%" src="../../../assets/images/svg_icons/Engineering.svg"/>
                    <small class="mt-2 mb-0"><a class="nav-link" id="navbarDropdown" [routerLink]="['/colleges']" routerLinkActive="active">Engineering</a></small>
                </div>
                <div class="cg_item">
                    <img width="40%" src="../../../assets/images/svg_icons/MBBS.svg"/>
                    <small class="mt-2 mb-0"><a class="nav-link" id="navbarDropdown" [routerLink]="['/colleges']" routerLinkActive="active">MBBS</a></small>
                </div>
                <div class="cg_item">
                    <img width="40%" src="../../../assets/images/svg_icons/Scholarships - Home Page.svg"/>
                    <small class="mt-2 mb-0"><a class="nav-link" [routerLink]="['/scholarships']" routerLinkActive="active">Scholarships</a></small>
                </div>
                <div class="cg_item">
                    <img width="40%" src="../../../assets/images/svg_icons/study abroad.svg"/>
                    <small class="mt-2 mb-0"><a class="nav-link" [routerLink]="['/study-abroad']" routerLinkActive="active">Study Abroad</a></small>
                </div>
                
                <div class="cg_item">
                    <img width="40%" src="../../../assets/images/svg_icons/examination.svg"/>
                    <small class="mt-2 mb-0"><a class="nav-link" [routerLink]="['/exams']" routerLinkActive="active">Examinations</a></small>
                </div>
                <div class="cg_item">
                    <img width="40%" src="../../../assets/images/svg_icons/Courses.svg"/>
                    <small class="mt-2 mb-0"><a class="nav-link" [routerLink]="['/training-institutes']" routerLinkActive="active">Training Institutes</a></small>
                </div>             
                <div class="cg_item">
                    <img width="40%" src="../../../assets/images/svg_icons/Review.svg"/>
                    <small class="mt-2 mb-0"><a class="nav-link" [routerLink]="['/reviews']" routerLinkActive="active">Reviews</a></small>
                </div>
            </div>
        </div>        
    </div>
</div>
<div class="sh_darkblue_bg">
    <div class="container">
        <app-quickinfo></app-quickinfo>
    </div>
</div>
<div class="bg-light pt-5 pb-4">
    <div class="container pt-5 pb-5">
        <app-home-latestupdates></app-home-latestupdates>
    </div>
</div>
<div class="pt-5 pb-4">
  <div class="container pt-5 pb-5">
    <app-home-newsresources></app-home-newsresources>
  </div>
  </div>
  <!-- <div class="pt-5 pb-4">
      <div class="container pt-5 pb-5">
          <app-home-newsresources></app-home-newsresources>
      </div>
  </div>
  <div class="bg-light pt-5 pb-4">
      <div class="container pt-5 pb-5">
          <app-home-scholarships></app-home-scholarships>
      </div>
  </div>
  <div class="pt-5 pb-4">
      <div class="container pt-5 pb-5">
          <app-home-topuniversities></app-home-topuniversities>
      </div>
  </div>
  <div class="bg-light pt-5 pb-4">
      <div class="container pt-5 pb-5">
          <app-home-abroadtoprankeduniversities></app-home-abroadtoprankeduniversities>
      </div>
  </div>
  <div class="pt-5 pb-4">
      <div class="container pt-5 pb-5">
          <app-home-articles></app-home-articles>
      </div>
  </div>
  <div class="bg-light pt-5 pb-4">
      <div class="container pt-5 pb-5">
          <app-home-questionsinterviewsloans></app-home-questionsinterviewsloans>
      </div>
  </div> -->
