<div class="row flex-wrap align-items-center mb-5">
    <div class="col-12 col-sm-3">
        <h1 class="text-dark mb-4">Articles</h1>
        <button type="button" class="btn btn-success btn-lg">View All</button>
    </div>
    <div class="col-12 col-sm-9">
        <div class="row blog">
            <div class="col-md-12">
                <div id="blogCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#blogCarousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-12 col-sm-4 mb-4">
                                    <div class="card h-100 border-0">
                                      <img src="https://dummyimage.com/300X200" class="card-img-top rounded" alt="...">
                                      <div class="card-body p-0 mt-3">
                                        <div class="d-flex mb-3">
                                            <div class="pr-3">
                                                <button type="button" class="btn btn-success btn-sm">Notification</button>
                                            </div>
                                            <div class="border-left pl-3">
                                                <small>Posted Today</small>
                                            </div>
                                        </div>
                                        <h6 class="text-dark">Inspired by Anand Kumar's Super 30, Others</h6>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 mb-4">
                                    <div class="card h-100 border-0">
                                      <img src="https://dummyimage.com/300X200" class="card-img-top rounded" alt="...">
                                      <div class="card-body p-0 mt-3">
                                        <div class="d-flex mb-3">
                                            <div class="pr-3">
                                                <button type="button" class="btn btn-success btn-sm">Notification</button>
                                            </div>
                                            <div class="border-left pl-3">
                                                <small>Posted Today</small>
                                            </div>
                                        </div>
                                        <h6 class="text-dark">Inspired by Anand Kumar's Super 30, Others</h6>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 mb-4">
                                    <div class="card h-100 border-0">
                                      <img src="https://dummyimage.com/300X200" class="card-img-top rounded" alt="...">
                                      <div class="card-body p-0 mt-3">
                                        <div class="d-flex mb-3">
                                            <div class="pr-3">
                                                <button type="button" class="btn btn-success btn-sm">Notification</button>
                                            </div>
                                            <div class="border-left pl-3">
                                                <small>Posted Today</small>
                                            </div>
                                        </div>
                                        <h6 class="text-dark">Inspired by Anand Kumar's Super 30, Others</h6>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-sm-4 mb-4">
                                    <div class="card h-100 border-0">
                                      <img src="https://dummyimage.com/300X200" class="card-img-top rounded" alt="...">
                                      <div class="card-body p-0 mt-3">
                                        <div class="d-flex mb-3">
                                            <div class="pr-3">
                                                <button type="button" class="btn btn-success btn-sm">Notification</button>
                                            </div>
                                            <div class="border-left pl-3">
                                                <small>Posted Today</small>
                                            </div>
                                        </div>
                                        <h6 class="text-dark">Inspired by Anand Kumar's Super 30, Others</h6>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 mb-4">
                                    <div class="card h-100 border-0">
                                      <img src="https://dummyimage.com/300X200" class="card-img-top rounded" alt="...">
                                      <div class="card-body p-0 mt-3">
                                        <div class="d-flex mb-3">
                                            <div class="pr-3">
                                                <button type="button" class="btn btn-success btn-sm">Notification</button>
                                            </div>
                                            <div class="border-left pl-3">
                                                <small>Posted Today</small>
                                            </div>
                                        </div>
                                        <h6 class="text-dark">Inspired by Anand Kumar's Super 30, Others</h6>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 mb-4">
                                    <div class="card h-100 border-0">
                                      <img src="https://dummyimage.com/300X200" class="card-img-top rounded" alt="...">
                                      <div class="card-body p-0 mt-3">
                                        <div class="d-flex mb-3">
                                            <div class="pr-3">
                                                <button type="button" class="btn btn-success btn-sm">Notification</button>
                                            </div>
                                            <div class="border-left pl-3">
                                                <small>Posted Today</small>
                                            </div>
                                        </div>
                                        <h6 class="text-dark">Inspired by Anand Kumar's Super 30, Others</h6>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                    </div>
                    <!--.carousel-inner-->
                </div>
                <!--.Carousel-->

            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 d-none">
            <div class="col-12 col-sm-4 mb-4">
                <div class="card h-100 border-0">
                  <img src="https://dummyimage.com/300X200" class="card-img-top rounded" alt="...">
                  <div class="card-body p-0 mt-3">
                    <div class="d-flex mb-3">
                        <div class="pr-3">
                            <button type="button" class="btn btn-success btn-sm">Notification</button>
                        </div>
                        <div class="border-left pl-3">
                            <small>Posted Today</small>
                        </div>
                    </div>
                    <h6 class="text-dark">Inspired by Anand Kumar's Super 30, Others</h6>
                  </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 mb-4">
                <div class="card h-100 border-0">
                  <img src="https://dummyimage.com/300X200" class="card-img-top rounded" alt="...">
                  <div class="card-body p-0 mt-3">
                    <div class="d-flex mb-3">
                        <div class="pr-3">
                            <button type="button" class="btn btn-success btn-sm">Notification</button>
                        </div>
                        <div class="border-left pl-3">
                            <small>Posted Today</small>
                        </div>
                    </div>
                    <h6 class="text-dark">Inspired by Anand Kumar's Super 30, Others</h6>
                  </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 mb-4">
                <div class="card h-100 border-0">
                  <img src="https://dummyimage.com/300X200" class="card-img-top rounded" alt="...">
                  <div class="card-body p-0 mt-3">
                    <div class="d-flex mb-3">
                        <div class="pr-3">
                            <button type="button" class="btn btn-success btn-sm">Notification</button>
                        </div>
                        <div class="border-left pl-3">
                            <small>Posted Today</small>
                        </div>
                    </div>
                    <h6 class="text-dark">Inspired by Anand Kumar's Super 30, Others</h6>
                  </div>
                </div>
            </div>   
        </div>
    </div>
</div>