.W50{
    width: 50px;
}

.w30{
    width: 30px;
}

.logo_img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    line-height: 75px;
}

.logo_img img{
    width: 100%;
}

.carousel-indicators{
    margin: 40px 0 auto;
    padding: 0;
}

.carousel-indicators li{
    background-color: #ccc;
}