<ul class="menuzord-menu">
    <li><a href="index">Home</a></li>
    <li><a href="@Url.Action("index", "Colleges")">Colleges</a></li>
    <li><a href="@Url.Action("index", "Institutions")">Training Instituions/ Trainers</a></li>
    <li><a href="@Url.Action("index", "News")">News</a></li>
    <li><a href="#">E-Learning</a></li>
    <li><a href="#">Mock Tests</a></li>
    <li><a href="@Url.Action("index", "ContactUs")">Contact Us</a></li>
    @*<li>
            <a href="exams"> Exams</a>
            <div class="container-fluid no-padding megamenu">
                <h3 class="text-center text-theme-color-2">EXAMS IN INDIA</h3>
                <div class="megamenu-row">

                    <div class="col3">
                        <ul class="list-unstyled list-dashed">
                            <h4>TEACHING</h4>
                            <li><a href="#">MP-Pre-BEd</a></li>
                            <li><a href="#">CSSET</a></li>
                            <li><a href="#">TS-EDCET</a></li>
                            <li><a href="#">MAH-BEd-CET</a></li>
                            <li><a href="#">HPU-BEd</a></li>
                        </ul>
                    </div>
                    <div class="col3">
                        <ul class="list-unstyled list-dashed">
                            <h4>BANKING</h4>
                            <li><a href="#">SBI-SO</a></li>
                            <li><a href="#">RBI-Grade-B</a></li>
                            <li><a href="#">Indian-Bank-PO</a></li>
                            <li><a href="#">RBI-Assistant-Recruitment</a></li>
                            <li><a href="#">SBI-Clerk</a></li>
                        </ul>
                    </div>
                    <div class="col3">
                        <ul class="list-unstyled list-dashed">
                            <h4>PSU RECRUITMENT</h4>
                            <li><a href="#">MDL-Recruitment</a></li>
                            <li><a href="#">KPTCL-Recruitment</a></li>
                            <li><a href="#">BPCL-RECRUITMENT</a></li>
                            <li><a href="#">MP</a></li>
                            <li><a href="#">MP</a></li>
                        </ul>
                    </div>
                    <div class="col3">
                        <ul class="list-unstyled list-dashed">
                            <h4>SSC</h4>
                            <li><a href="#">SSC-MTS</a></li>
                            <li><a href="#">SSC-JHT</a></li>
                            <li><a href="#">SSC-Stenographer</a></li>
                            <li><a href="#">SSC-JE</a></li>
                            <li><a href="#">SSC-CHSL</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </li>
        <li>
            <a href="#">Study Abroad</a>

            <div class="container-fluid no-padding megamenu">
                <h3 class="text-center text-theme-color-2">Study In  Abroad</h3>
                <div class="megamenu-row">

                    <div class="col3">
                        <ul class="list-unstyled list-dashed">
                            <h4>TEACHING</h4>
                            <li><a href="#">MP-Pre-BEd</a></li>
                            <li><a href="#">CSSET</a></li>
                            <li><a href="#">TS-EDCET</a></li>
                            <li><a href="#">MAH-BEd-CET</a></li>
                            <li><a href="#">HPU-BEd</a></li>
                        </ul>
                    </div>
                    <div class="col3">
                        <ul class="list-unstyled list-dashed">
                            <h4>BANKING</h4>
                            <li><a href="#">SBI-SO</a></li>
                            <li><a href="#">RBI-Grade-B</a></li>
                            <li><a href="#">Indian-Bank-PO</a></li>
                            <li><a href="#">RBI-Assistant-Recruitment</a></li>
                            <li><a href="#">SBI-Clerk</a></li>
                        </ul>
                    </div>
                    <div class="col3">
                        <ul class="list-unstyled list-dashed">
                            <h4>PSU RECRUITMENT</h4>
                            <li><a href="#">MDL-Recruitment</a></li>
                            <li><a href="#">KPTCL-Recruitment</a></li>
                            <li><a href="#">BPCL-RECRUITMENT</a></li>
                            <li><a href="#">MP</a></li>
                            <li><a href="#">MP</a></li>
                        </ul>
                    </div>
                    <div class="col3">
                        <ul class="list-unstyled list-dashed">
                            <h4>SSC</h4>
                            <li><a href="#">SSC-MTS</a></li>
                            <li><a href="#">SSC-JHT</a></li>
                            <li><a href="#">SSC-Stenographer</a></li>
                            <li><a href="#">SSC-JE</a></li>
                            <li><a href="#">SSC-CHSL</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="top-courses">Courses</a>
            <div class="container-fluid no-padding megamenu">
                <h3 class="text-center text-theme-color-2">Total Courses</h3>
                <div class="megamenu-row">

                    <div class="col3">
                        <ul class="list-unstyled list-dashed">
                            <h4>TEACHING</h4>
                            <li><a href="#">MP-Pre-BEd</a></li>
                            <li><a href="#">CSSET</a></li>
                            <li><a href="#">TS-EDCET</a></li>
                            <li><a href="#">MAH-BEd-CET</a></li>
                            <li><a href="#">HPU-BEd</a></li>
                        </ul>
                    </div>
                    <div class="col3">
                        <ul class="list-unstyled list-dashed">
                            <h4>BANKING</h4>
                            <li><a href="#">SBI-SO</a></li>
                            <li><a href="#">RBI-Grade-B</a></li>
                            <li><a href="#">Indian-Bank-PO</a></li>
                            <li><a href="#">RBI-Assistant-Recruitment</a></li>
                            <li><a href="#">SBI-Clerk</a></li>
                        </ul>
                    </div>
                    <div class="col3">
                        <ul class="list-unstyled list-dashed">
                            <h4>PSU RECRUITMENT</h4>
                            <li><a href="#">MDL-Recruitment</a></li>
                            <li><a href="#">KPTCL-Recruitment</a></li>
                            <li><a href="#">BPCL-RECRUITMENT</a></li>
                            <li><a href="#">MP</a></li>
                            <li><a href="#">MP</a></li>
                        </ul>
                    </div>
                    <div class="col3">
                        <ul class="list-unstyled list-dashed">
                            <h4>SSC</h4>
                            <li><a href="#">SSC-MTS</a></li>
                            <li><a href="#">SSC-JHT</a></li>
                            <li><a href="#">SSC-Stenographer</a></li>
                            <li><a href="#">SSC-JE</a></li>
                            <li><a href="#">SSC-CHSL</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li><a href="top-colleges">Engineering</a></li>
        <li><a href="top-colleges">Medical</a></li>
        <li><a href="top-colleges">Management</a></li>*@

    <li class="hidden-sm">
        <ul class="header-search pull-right">
            <li class="search-menu">
                <i class="pe-7s-search search"></i>
            </li>
        </ul>
        <!--Search Form-->
        <div class="search">
            <div class="search-form">
                <form id="searchform">
                    <input type="text" name="search" placeholder="Search here...">
                    <button type="submit">
                        <span><i class="fa fa-paper-plane-o"></i></span>
                    </button>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.header-search').on('click', function () {
                    $('.search').toggleClass('open');
                    return false;
                });
            });
        </script>
    </li>
</ul>