<div class="header-top bg-theme-colored2 sm-text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="widget no-border m-0">
                    <ul class="list-inline font-11 font-weight-600 sm-text-center mt-5">
                        <li><a href="training-instituions-trainers">TOP TRAINING INSTITUIONS</a></li>
                        <li><a href="top-courses">TOP COURSES</a></li>
                        <li><a href="top-colleges">TOP COLLEGES</a></li>
                        <li><a href="articles-detail">ARTICLES <span class="label label-info">New</span></a></li>
                        <li><a href="#">MOCK TESTS</a></li>
                        <li><a href="news-detail">NEWS</a></li>
                        <li><a href="#">E-LEARNITNG TUTORIALS</a></li>
                        <li><a href="write-review">WRITE A REVIEW</a></li>
                        <li><a href="jobs-internships">JOB'S INTERNSHIPS <span class="label label-info">New</span></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-2">

                <div class="widget no-border m-0 mr-15 pull-right flip sm-pull-none sm-text-center">
                    <ul class="icon-sm flip sm-pull-none sm-text-center mt-sm-15">
                        <li class="mt-5"><a href="@Url.Action("Index", "Login")"><span class="pe-7s-user mt-5"></span> LOGIN</a></li>
                        <li class="rigister-class"><a href="@Url.Action("Index", "Register")"><i class="fa fa-edit mr-5"></i> REGISTER</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>