 <!--Start banner Section-->
<section class="eduspace-banner" style="padding:50px;">
    <div class="edu-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="eduspace-banner-header">
                    <h2>Course</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Course</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section><!--End banner Section-->
<!--Start course-details Section-->
<section class="course-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="course-details-img">
                            <img src="assets/img/eduspace-starts-bg.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="course-subject">
                            <div class="course-subject-header">
                                <h3>Computer Science Engineering</h3>
                            </div>
                            <div class="course-subject-details">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ex deleniti, tempora veniam reiciendis molestiae laudantium error ab nisi modi illum ad quibusdam dicta, nostrum eligendi temporibus dolor! Facilis autem in nulla, quis pariatur quo beatae iure voluptas veniam possimus ducimus saepe quod aut. Itaque doloribus eius aspernatur omnis esse.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi earum similique, corrupti, quas adipisci eligendi eveniet fuga natus aliquam quisquam corporis ex sit. Placeat, delectus iste iusto molestiae corporis, eveniet ipsam obcaecati aperiam esse dicta illum perspiciatis nam impedit vero.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="course-information">
                            <div class="course-information-header">
                                <h3>Course Information</h3>
                            </div>
                            <div class="course-timeing">
                                <ul>
                                    <li>Start Date<span>22 - 08 - 17</span></li>
                                    <li>Class Informartion<span>78 hours</span></li>
                                    <li>Class Size<span>200</span></li>
                                    <li>Class Size<span>200</span></li>
                                    <li>Class Staff<span>3 Teachers</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="course-discription">
                            <h3>Course Discription</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam a, repudiandae et natus officia odit optio rem eveniet facilis, voluptas sunt repellat nemo dolor impedit doloremque expedita ipsam dolorem dolorum libero perferendis pariatur numquam, quisquam cumque vero consequatur. Iste, maiores.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, saepe, debitis. Illum, voluptas ab possimus quo voluptatibus veniam quam voluptates.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="course-apply">
                            <h3>How To Apply</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint magnam iusto voluptas laboriosam repellendus dolores officia similique dicta ullam unde, dolorum iste alias voluptate neque porro reiciendis excepturi quibusdam velit iure tempore. Vero, itaque doloremque commodi ad consequatur aperiam iste!</p>
                            <a href="registration.html" class="eduspace-btn">Apply Now</a>
                            <a href="contact.html" class="eduspace-btn">Send Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--End course-details Section-->
<!--start related-course section -->
<section class="related-course section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="edu-title text-left">
                    <h2>Related course</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="course-area">
                    <div class="course-img">
                        <img src="assets/img/course4.jpg" class="img-fluid" alt="">
                        <div class="c-overlay"></div>
                    </div>
                    <div class="content-area">
                        <div class="course-content">
                            <h3><a href="#">Sooftware Testing</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium at adipisci animi? Quos consequuntur fuga</p>
                            <a href="#" class="course-btn">join now</a>
                        </div>
                        <div class="course-meta">
                            <div class="course-left">
                                <span><i class="fa fa-users"></i>50 seats</span>
                                <span><i class="fa fa-clock-o"></i>6 month</span>
                            </div>
                            <span class="price">$50</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="course-area">
                    <div class="course-img">
                        <img src="assets/img/course5.jpg" class="img-fluid" alt="">
                        <div class="c-overlay"></div>
                    </div>
                    <div class="content-area">
                        <div class="course-content">
                            <h3><a href="#">game Design</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium at adipisci animi? Quos consequuntur fuga</p>
                            <a href="#" class="course-btn">join now</a>
                        </div>
                        <div class="course-meta">
                            <div class="course-left">
                                <span><i class="fa fa-users"></i>50 seats</span>
                                <span><i class="fa fa-clock-o"></i>6 month</span>
                            </div>
                            <span class="price">$50</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="course-area">
                    <div class="course-img">
                        <img src="assets/img/course6.jpg" class="img-fluid" alt="">
                        <div class="c-overlay"></div>
                    </div>
                    <div class="content-area">
                        <div class="course-content">
                            <h3><a href="#">User Experience</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium at adipisci animi? Quos consequuntur fuga</p>
                            <a href="#" class="course-btn">join now</a>
                        </div>
                        <div class="course-meta">
                            <div class="course-left">
                                <span><i class="fa fa-users"></i>50 seats</span>
                                <span><i class="fa fa-clock-o"></i>6 month</span>
                            </div>
                            <span class="price">$50</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--End related-course section -->