 <!--Start banner Section-->
<section class="coursedetailhead">
    <!--<div class="edu-overlay"></div>-->
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-12 col-12">
                <div class="coursedetaillogo">
                    <img src="../assets/img/FabFinal.png" class="img-fluid" alt="" style="/* width: 200px; */">
                </div>
            </div>
            <div class="col-lg-10 col-md-8 col-sm-12 col-12">
                <div class="coursedetailinfo">
                    <h3>FAB Finance</h3>
                    <hr />
                    <div class="row">
                        <div class="col-lg-3">
                            <div style="padding: 0px 0px;">Course Fee: <span class="courseprice">Rs. 2500</span></div>
                        </div>
                        <div class="col-lg-4">
                            <div style="padding: 0px 0px;">Course Duration: <span class="courseprice">6 Months</span></div>
                        </div>
                        <div class="col-lg-10">
                            <div style="padding: 5px 0px;">
                                <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                    <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                    <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                    <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                    <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                    <i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--End banner Section-->    
<!--Start course-details Section-->
<section class="course-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <div class="coursecontent">
                            <h4>FAB Course Structure</h4>
                            <hr />
                            <div class="" style="padding-left: 15px;">
                                <table width="0">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" width="434">
                                                <p><strong>I. Introduction</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>1</p>
                                            </td>
                                            <td width="400">
                                                <p>Introduction PPT</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>2</p>
                                            </td>
                                            <td width="400">
                                                <p>Economy</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>3</p>
                                            </td>
                                            <td width="400">
                                                <p>Industry and Company</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" width="434">
                                                <p><strong>II. Accountancy</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>1</p>
                                            </td>
                                            <td width="400">
                                                <p>Basic Accounting Concepts</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>2</p>
                                            </td>
                                            <td width="400">
                                                <p>Journal entries</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>3</p>
                                            </td>
                                            <td width="400">
                                                <p>Financial Statements</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>(a) Balance Sheet</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>(b) Profit &amp; Loss Statement</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>(c) Cash Flow Statement</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>4</p>
                                            </td>
                                            <td width="400">
                                                <p>Applicable Standards on Accounting</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>(a) Accounting Standards</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>(b) Ind AS</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>5</p>
                                            </td>
                                            <td width="400">
                                                <p>BRS</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>6</p>
                                            </td>
                                            <td width="400">
                                                <p>Rectification of errors</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>8</p>
                                            </td>
                                            <td width="400">
                                                <p>Final Accounts&nbsp; for Manufacturing entities</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>9</p>
                                            </td>
                                            <td width="400">
                                                <p>Adjustment entries in Final Accounts</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" width="434">
                                                <p><strong>III. Finance</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>1</p>
                                            </td>
                                            <td width="400">
                                                <p>Finance Overview</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>2</p>
                                            </td>
                                            <td width="400">
                                                <p>Accounting cycle</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>3</p>
                                            </td>
                                            <td width="400">
                                                <p>Cash Flows Analysis- FCFF , FCFE</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>4</p>
                                            </td>
                                            <td width="400">
                                                <p>Financial Statement Analysis</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>5</p>
                                            </td>
                                            <td width="400">
                                                <p>Inventory Management</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>6</p>
                                            </td>
                                            <td width="400">
                                                <p>Working Capital Management</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>7</p>
                                            </td>
                                            <td width="400">
                                                <p>Accounts Receivable Management</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>8</p>
                                            </td>
                                            <td width="400">
                                                <p>Accounts Payable Management</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>9</p>
                                            </td>
                                            <td width="400">
                                                <p>Cash Flows Analysis- FCFF , FCFE</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>10</p>
                                            </td>
                                            <td width="400">
                                                <p>Financial Decisions</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>(a) Investment Decision</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>(b) Financing Decision</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>(c) Dividend Decision</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>11</p>
                                            </td>
                                            <td width="400">
                                                <p>Types of Financing</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" width="434">
                                                <p><strong>IV. Costing &amp; Management Accounting</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>1</p>
                                            </td>
                                            <td width="400">
                                                <p>Basic Concepts in Cost Accounting</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>(a) Cost Accounting &amp; Management Accounting</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>(b) Classification of costs</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>(c) Methods of Costing</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" width="434">
                                                <p><strong>V. Corporate Law</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>1</p>
                                            </td>
                                            <td width="400">
                                                <p>Entities</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>2</p>
                                            </td>
                                            <td width="400">
                                                <p>Corporate actions</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" width="434">
                                                <p><strong>VI. Strategy</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>1</p>
                                            </td>
                                            <td width="400">
                                                <p>Environmental influences on business</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>2</p>
                                            </td>
                                            <td width="400">
                                                <p>Strategic Analysis</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>3</p>
                                            </td>
                                            <td width="400">
                                                <p>Business Process techniques</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" width="434">
                                                <p><strong>VII. Corporate Restructuring</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>1</p>
                                            </td>
                                            <td width="400">
                                                <p>Mergers, Acquisitions and Restructuring</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>2</p>
                                            </td>
                                            <td width="400">
                                                <p>Strategic alliances and Joint ventures</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" width="434">
                                                <p><strong>VIII. Capital Markets</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>1</p>
                                            </td>
                                            <td width="400">
                                                <p>Equity and Debt markets</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>2</p>
                                            </td>
                                            <td width="400">
                                                <p>Raising of equity capital</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>3</p>
                                            </td>
                                            <td width="400">
                                                <p>Raising of Debt</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>4</p>
                                            </td>
                                            <td width="400">
                                                <p>IPO Process</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>5</p>
                                            </td>
                                            <td width="400">
                                                <p>Secondary Markets</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>6</p>
                                            </td>
                                            <td width="400">
                                                <p>Clearing and settlement</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>7</p>
                                            </td>
                                            <td width="400">
                                                <p>Mutual Funds</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>8</p>
                                            </td>
                                            <td width="400">
                                                <p>Alternative Investments</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>9</p>
                                            </td>
                                            <td width="400">
                                                <p>Forwards and Futures</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>10</p>
                                            </td>
                                            <td width="400">
                                                <p>Options and swaps</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" width="434">
                                                <p><strong>IX. Miscellaneous Topics</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p></p>
                                            </td>
                                            <td width="400">
                                                <p></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p></p>
                                            </td>
                                            <td width="400">
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="400">
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" width="434">
                                                <p><strong>X. Practicals</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>1</p>
                                            </td>
                                            <td width="400">
                                                <p>Case Studies</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="34">
                                                <p>2</p>
                                            </td>
                                            <td width="400">
                                                <p>Project</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="col-md-12 coursebatches">
                            <div class="coursebatchhead">
                                <h4>BATCHES</h4>
                            </div>
                            <div class="coursebatcheslist">
                                <div class="coursebatchitem">
                                    <div class="itemtitle">Batch Start:</div><div class="itemtext">13/09/2018</div><hr>
                                    <div class="itemtitle">Class Time:</div><div class="itemtext">05:00 PM</div><hr>
                                    <div class="itemtitle">Instructor:</div><div class="itemtext">X. XXXXXXX</div><hr>
                                    <div class="itemtitle">Students:</div><div class="itemtext">04/10</div>
                                </div>
                                <div class="coursebatchitem">
                                    <div class="itemtitle">Batch Start:</div><div class="itemtext">13/09/2018</div><hr>
                                    <div class="itemtitle">Class Time:</div><div class="itemtext">05:00 PM</div><hr>
                                    <div class="itemtitle">Instructor:</div><div class="itemtext">X. XXXXXXX</div><hr>
                                    <div class="itemtitle">Students:</div><div class="itemtext">04/10</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 coursebatches">
                            <div class="coursebatchhead">
                                <h4>Student Reviews</h4>
                            </div>
                            <div class="studentreviewlist">
                                <div class="studentreviewitem">
                                    <div class="name">X Xxxxxxx</div>
                                    <div class="rating">
                                        <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="studentreviewitem">
                                    <div class="name">X Xxxxxxx</div>
                                    <div class="rating">
                                        <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="studentreviewitem">
                                    <div class="name">X Xxxxxxx</div>
                                    <div class="rating">
                                        <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 coursebatches">
                            <div class="coursebatchhead">
                                <h4>Other Courses</h4>
                            </div>
                            <div class="coursebatcheslist">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <a href="#" class="courseitemhomelink">
                                            <div class="courseitemhome">
                                                <img src="../assets/img/AWS.png" class="img-fluid" alt="">
                                                <div class="">
                                                    <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <a href="#" class="courseitemhomelink">
                                            <div class="courseitemhome">
                                                <img src="../assets/img/HadoopFinal.png" class="img-fluid" alt="">
                                                <div class="">
                                                    <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <a href="#" class="courseitemhomelink">
                                            <div class="courseitemhome">
                                                <img src="../assets/img/DevopsFinal.png" class="img-fluid" alt="">
                                                <div class="">
                                                    <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <a href="#" class="courseitemhomelink">
                                            <div class="courseitemhome">
                                                <img src="../assets/img/SalesForceFinal.png" class="img-fluid" alt="">
                                                <div class="">
                                                    <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--End course-details Section-->