 <!--Start banner Section-->
<section class="coursedetailhead">
    <!--<div class="edu-overlay"></div>-->
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-12 col-12">
                <div class="coursedetaillogo">
                    <img src="../assets/img/NRTFinal.png" class="img-fluid" alt="" style="/* width: 200px; */">
                </div>
            </div>
            <div class="col-lg-10 col-md-8 col-sm-12 col-12">
                <div class="coursedetailinfo">
                    <h3>Near Real Time Data processing (NRT on Big Data)</h3>
                    <hr />
                    <div class="row">
                        <div class="col-lg-3">
                            <div style="padding: 0px 0px;">Course Fee: <span class="courseprice">Rs. 4000</span></div>
                        </div>
                        <div class="col-lg-4">
                            <div style="padding: 0px 0px;">Course Duration: <span class="courseprice">6 Months</span></div>
                        </div>
                        <div class="col-lg-10">
                            <div style="padding: 5px 0px;">
                                <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                    <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                    <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                    <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                    <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                    <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--End banner Section-->
<!--Start course-details Section-->
<section class="course-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <div class="coursecontent">
                            <h4>NRT Course Structure</h4>
                            <hr />
                            <div class="" style="padding-left: 15px;">
                                <table width="0">
                                    <tbody>
                                        <tr>
                                            <td colspan="3" width="633">
                                                <p><strong>Near Real Time Data processing (NRT on Big Data)</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td width="32">&nbsp;</td>
                                            <td width="409">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" width="224">
                                                <p>1. Introduction</p>
                                            </td>
                                            <td width="409">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" width="633">
                                                <p>2. Overview of Big Data</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" width="633">
                                                <p>3. Data ingestion and processing</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" width="633">
                                                <p>4. Big Data Architecture and Patterns</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>a. Data Ingestion Layer</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>b. Data Collector Layer</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>c. Data Processing Layer</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>d. Data Storage Layer</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>e. Data query Layer</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>f. Data Visualization Layer</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" width="633">
                                                <p>5. Big Data ingestion Architecture</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>a. What is data ingestion in Big Data</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>b. Challenges in Data Ingestion</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>c. Data ingestion parameters</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>d. Data ingestion key principles</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>e. Data serialization in Big Data</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>f. Big Data ingestion tools</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td width="32">&nbsp;</td>
                                            <td width="409">
                                                <p>i. Apache Flume</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td width="32">&nbsp;</td>
                                            <td width="409">
                                                <p>ii. Apache Nifi</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" width="633">
                                                <p>6. Big Data Pipeline Architecture</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>a. Big Data pipeline functions</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>b. Need of Big data pipeline</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>c. Big data pipeline use cases</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>d. Apache Kafka</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>e. Overview of Kinesis</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>f. Samza</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" width="633">
                                                <p>7. Big Data processing Layer</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>a. Apache Sqoop</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>b. Apache Strom</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>c. Apache Flink</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>d. Apache Spark</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" width="633">
                                                <p>8. Big Data Storage Layer</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>a. HDFS</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>b. GlusterFS</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>c. Amazon S3</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" width="633">
                                                <p>9. Big Data query Layer</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>a. Hive QL</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>b. Apache Spark SQL</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>c. Amazon Redshift</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>d. Presto</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" width="633">
                                                <p>10. Data Lake and Data Warehouse</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" width="633">
                                                <p>11. Real-time data monitoring, Data Visualization</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>a. Tableau</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>b. Kibana</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" width="633">
                                                <p>12. Big Data Security</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>a. Access control</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>b. Encryption and data masking</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>c. Auditing</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" width="224">
                                                <p>13. Soft Skills</p>
                                            </td>
                                            <td width="409">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>a. Tell me about your self</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>b. Interview Q and A</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>c. Resume preparation</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td colspan="2" width="441">
                                                <p>d. Project explanation</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td width="32">&nbsp;</td>
                                            <td width="409">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td width="32">&nbsp;</td>
                                            <td width="409">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td width="50">&nbsp;</td>
                                            <td width="32">&nbsp;</td>
                                            <td width="409">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="col-md-12 coursebatches">
                            <div class="coursebatchhead">
                                <h4>BATCHES</h4>
                            </div>
                            <div class="coursebatcheslist">
                                <div class="coursebatchitem">
                                    <div class="itemtitle">Batch Start:</div><div class="itemtext">13/09/2018</div><hr>
                                    <div class="itemtitle">Class Time:</div><div class="itemtext">05:00 PM</div><hr>
                                    <div class="itemtitle">Instructor:</div><div class="itemtext">X. XXXXXXX</div><hr>
                                    <div class="itemtitle">Students:</div><div class="itemtext">04/10</div>
                                </div>
                                <div class="coursebatchitem">
                                    <div class="itemtitle">Batch Start:</div><div class="itemtext">13/09/2018</div><hr>
                                    <div class="itemtitle">Class Time:</div><div class="itemtext">05:00 PM</div><hr>
                                    <div class="itemtitle">Instructor:</div><div class="itemtext">X. XXXXXXX</div><hr>
                                    <div class="itemtitle">Students:</div><div class="itemtext">04/10</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 coursebatches">
                            <div class="coursebatchhead">
                                <h4>Student Reviews</h4>
                            </div>
                            <div class="studentreviewlist">
                                <div class="studentreviewitem">
                                    <div class="name">X Xxxxxxx</div>
                                    <div class="rating">
                                        <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="studentreviewitem">
                                    <div class="name">X Xxxxxxx</div>
                                    <div class="rating">
                                        <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="studentreviewitem">
                                    <div class="name">X Xxxxxxx</div>
                                    <div class="rating">
                                        <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                            <i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 coursebatches">
                            <div class="coursebatchhead">
                                <h4>Other Courses</h4>
                            </div>
                            <div class="coursebatcheslist">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <a href="#" class="courseitemhomelink">
                                            <div class="courseitemhome">
                                                <img src="../assets/img/AWS.png" class="img-fluid" alt="">
                                                <div class="">
                                                    <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <a href="#" class="courseitemhomelink">
                                            <div class="courseitemhome">
                                                <img src="../assets/img/HadoopFinal.png" class="img-fluid" alt="">
                                                <div class="">
                                                    <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <a href="#" class="courseitemhomelink">
                                            <div class="courseitemhome">
                                                <img src="../assets/img/DevopsFinal.png" class="img-fluid" alt="">
                                                <div class="">
                                                    <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <a href="#" class="courseitemhomelink">
                                            <div class="courseitemhome">
                                                <img src="../assets/img/SalesForceFinal.png" class="img-fluid" alt="">
                                                <div class="">
                                                    <div class="courserating" style="margin-bottom: 0px; padding: 0px;">
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--End course-details Section-->