<!--Start our-course section -->
<section class="otherpage">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="otherpageheading">
                    <hr />
                    <h2>Refund Policy</h2>
                    <hr />
                </div>
            </div>
            <div class="col-md-12">
                <p>We do our best to bring out world-class courses at your comfort and we want to make sure you have the best learning experience on Student Hub. However, sometimes a course might just not be right for you. You may have liked the free trial of the course but later figured out that it wasn't meeting your expectations. That's perfectly fine because we have a 100% Money Back Guarantee.</p>
                <p>To avail a refund, please email us from your registered email id, the course name and the order id within 72 hours of purchasing the course. We'll initiate a refund within 15-30 days of receiving your request. The refund however is valid only on 80% of the course fee if the course has downloadable add-ons like courseware, question bank etc. and is not valid for participants who have completed more than 30% of the course. Moreover, the refund is not valid on courses that include an access key to 3rd party sites, courses bought in offers for short duration of time (i.e. other than 180days standard access) and on Student Hub Privilege membership.</p>
            </div>
        </div>
    </div>
</section>