<!--Start our-course section -->
<section class="otherpage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="otherpageheading">
                    <hr />
                    <h2>Terms & Conditions</h2>
                    <hr />
                </div>
            </div>
            <div class="col-md-12">
                <p>Welcome to our website. If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy, refund policy, Disclaimer and any additional guidelines posted on the website govern <strong>Marella Soft Labs Private Limited</strong> relationship with you at our website <strong>'studenthub.in'</strong>.</p>
                <p>The term 'Marella Soft labs Private Limited' or 'us' or 'we' or 'company' refers to the owner of the website whose registered office is D. NO. 7/1/621/53, SRI SAI RESIDENCY, FLAT NO:301, S.R. NAGAR HYDERABAD - 500038.</p>
                <p>&nbsp;The term 'you' refers to the user or viewer or the paying customer of our website. If you are a company or another person who gives access to company products, you agree to take responsibility in full in case of damages or indemnification that could properly lie against the customer.</p>
                <p>The website, the educational services made available through the site and the content (the 'Products') are owned, operated and maintained, as applicable by us. The website, products and content is collectively the 'Company Products'.</p>
                <p>By using 'Company Products', you Agree and Warrant that you have read, Understood, and agree to be Bound by these terms. If you do not accept these terms, you must not use and are not authorized to use all or any portion of the company's website and its products or services.</p>
                
                <h4>Please read the terms carefully</h4>
                <p>You should not use this site in an unlawful manner; you must respect website terms and conditions and follow the privacy policy.</p>
                <p>Under no situations or circumstances, the company will be liable for any change in the content which it provides on the website through its products and services, including but not limited to any errors, omissions, loss or damage experienced in connection with the use of exposure, any content made available via our products, services or various resources such as email, blog etc.</p>
                <p>We are not responsible for the charges incurred for the usage of hardware, software or internet services for using the services of our website. Also, you are fully responsible for the proper functioning of your computer hardware and internet access.</p>
                <p>You will be required to use login credentials for some of the sections on the site and the company reserves the right to block access to our services for any user who does not follow these conditions.</p>
                <p>We strive to ensure that users get uninterrupted access to our service, but there is no obligation to do so.</p>
                <p>We are not responsible and are not obligated for issues in your network or server.</p>
                
                <h4>Website usage guidelines</h4>
                <p>The User Id and Password is for your exclusive use only. Sharing your account is strictly prohibited and is a cause for immediate blocking of all the services offered to you without any refund.</p>
                <p>You are the sole person responsible for maintaining the confidentiality of your user account. We are not, under any circumstance, liable for claims related to the use or misuse of your account.</p>
                <p>Do not Insult, abuse, harass, stalk, threaten or otherwise infringe the rights of others.</p>
                <p>Do not publish, post, distribute or disseminate any defamatory, infringing, indecent, offensive or unlawful material or information.</p>
                <p>Do not upload, install, transfer files which are protected by Intellectual Property laws or software which affect other computers.</p>
                <p>It's prohibited to edit HTML source code, reverse engineer or attempt to hack.</p>
                <p>Do not run Spam services/scripts or anything which could affect infrastructure, and in turn, users.</p>
                <p>Do not communicate spam, advertise or sell services such as digital downloads, eBooks or phishing links.</p>
                <p>You may not copy, distribute and indulge in plagiarism with website content or user submitted content.</p>
                
                <h4>The content</h4>
                <p>All website content or information that can be seen, heard or otherwise experienced on the Site is copyrighted and belongs to Marella Softlabs Private Limited or its partners, affiliates or third parties. This may include but not restricted to audio/video, written, graphic, recorded, photographic or any other machine readable format. you may use the Site, the Service and the Content for your own personal, non-commercial use only.</p>
                <p>You are not permitted to reproduce, transmit, distribute, sub-license, broadcast, disseminate or prepare derivative works of the Content and Courseware, or any part thereof, in any manner or through any communication channels or means, for any purpose without Our prior written consent.</p>
                <p>We reserve the right to amend, revise or update the Content and Courseware offered to you. In the event such amendment, revision or an update occurs, we may require you pay an additional amount of fees to access such amended, revised or updated Content and Courseware.</p>
                <p>You may download and print only that material that is allowed for download and the same is for your personal, non-commercial use only.</p>
                <p>You will not transfer any information from the website or produce derivative work which you can display, distribute or transmit.</p>
                
                <h4>Links and Hyperlinks Terms</h4>
                <p>This website may have links to other websites. We do not undertake any control on the content of these websites; nor are we responsible for their website content. The sole purpose of the links included is to provide information to the users.</p>
                
                <h5>Hyperlinks</h5>
                <p>You may not mirror or frame the home page or any other pages of this Site on any other web site or web page.</p>
                <p>You are not authorized to link to our website without our prior written permission.</p>
                
                <h4>Copyright and Intellectual Property</h4>
                
                <p>We value and respect others intellectual property and expect our users to do the same.</p>
                <p>The entire contents of the Site are protected by copyright and trademark laws. The owner of the copyrights and trademarks are Marella Softlabs Private Limited, its affiliates or other third party licensors. The material on the site, including but not restricted to text, graphics, code and/or software is copyrighted and belongs to us and therefore you may not duplicate, modify, publish or reproduce the content in any manner.</p>
                <p>We do not take any responsibility for the content on other sites that you may find when searching or accessing our products or services.</p>
                
                <h4>Transaction Terms</h4>
                <p>To make a transaction on our website, you are bound to pay for that transaction.</p>
                <p>Please pay close attention to your payment details such as total bill, taxes, shipping costs, discounts.</p>
                <p>There are certain products which require additional terms and conditions which you have to agree before you make the purchase.</p>
                <p>WE MAKE NO WARRANTIES OF ANY KIND, EXPRESSED OR IMPLIED, WITH RESPECT TO ANY PRODUCTS OR SERVICES SOLD ON OR THROUGH APNACOURSE.</p>
                <p>No additional or different terms contained in any purchase order, document, transmission or other communication shall be binding upon us unless agreed to by us in writing.</p>
                <p>We reserve the right to modify, change without prior notice and in its sole discretion, to limit the order quantity on any item and to refuse service to anyone.</p>
                
                <h4>Pricing Disclaimer</h4>
                <p>All prices, products and offers on <strong>Studenthub.in</strong> website are subject to change without notice.</p>
                <p>While we make sure to provide most accurate and up-to-date information, in some cases one or more items on our web site may be priced incorrectly. This might happen due to human errors, digital images, technical error or a mismatch in pricing information received from our suppliers.</p>
                <p>We reserve the right to change prices for all our products, offers or deals. These changes are done due to market conditions, course termination, providers, price changes, errors in advertisements and other mitigating circumstances. However the price you paid at the time of purchase still holds for you.</p>
                
                <h4>Term and Termination</h4>
                <p>We reserve the right to terminate this Agreement and block your access to the Content and Courseware with immediate effect by sending a written notice through email to you to this effect, if such termination is made as a result of your misrepresentation, default, misconduct or breach of your obligations related to or under this Agreement. On the occurrence of such an Event, We shall be authorised to exercise all the rights and remedies under this Agreement or applicable Law or available in equity to seek indemnification for any Loss or Claim resulting from any such Event.</p>
                <p>Certain clauses of this document shall survive the termination as deemed by us.</p>
                
                <h4>Indemnity</h4>
                <p>You agree to indemnify and hold Us, Our contractors, licensors, directors, officers, employees and agents, harmless from and against any and all claims, losses, damages, liabilities and expenses including attorneys' fees, arising out of your unauthorised use of the Website, the Services and the Content and Courseware or any violation or breach of this Agreement or any provisions here of.</p>
                
                <h4>Waiver</h4>
                <p>Neither failure nor delay on the part of any party to exercise any right, remedy, power or privilege hereunder shall operate as a waiver thereof, or of the exercise of any other right, remedy, power or privilege. No term of this Agreement shall be deemed waived, and no breach consented to, unless such waiver or consent shall be in writing and signed by the party claimed to have waived or consented. No waiver of any rights or consent to any breaches shall constitute a waiver of any other rights or consent to any other breach.</p>
                
                <h4>Severability</h4>
                <p>In the event any provision of this Agreement is held invalid or unenforceable under the applicable laws of India, the remaining provisions shall continue in full force and effect, and the Agreement shall be deemed to be reformed by replacing such invalidated or unenforceable provision with a valid and enforceable provision that gives effect as closely as possible to the intentions of the parties as expressed by the invalidated or unenforceable provision.</p>
                
                <h4>Development Process</h4>
                <p>Currently, we are providing certificate for the candidates to become professional with real-time projects.</p>
                <h4>Delay Process</h4>
                <p>Whenever any delay or cancellation of the class will inform you one day earlier. Each and every information will be received based on course with latest updates.</p>
                <h4>Choice of Law and Jurisdiction</h4>
                <p>In Supreme law and authority based on a law of government. Users of studenthub.in websites agreed by the court of India for exclusive settlement of justice. Every information has been permanently showing all discussion to the right of Indian courts.</p>
                <p>These terms in entirety shall be governed by and construed in accordance with the Laws of India and the courts in Hyderabad, India shall have the exclusive jurisdiction over any matter relating to, in connection with, or arising out of, this Agreement.</p>
                <h4>General</h4>
                <p>You are not able to allow for relocating, sub-license or otherwise transfer any of your rights under certain terms and conditions.</p>
                <p>To your terms and conditions has been found invalid for Indian court jurisdiction, Terms and conditions remain constant until the third party enters to effect any legal information.</p>
                <h4>Countermeasure</h4>
                <p>studenthub.in is effective in each and every problem from websites if there unspecified faults in website studenthub.in are responsible.</p>
                <p>When anyone acts acknowledge receiving paid services, your blame defined to direct damages from studenthub.in website. Beyond our terms and condition must be followed throughout the year whenever any damages accrue should be paid limit similar to the fee.</p>
                <h4>Other information</h4>
                <p>Externally studenthub.in support in capability during arguments for their easy way. studenthub.in may not allow telephones, to agree with the third person while classes are going on.</p>
                
            </div>
        </div>
    </div>
</section>
