<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="http://studenthub.in/admin/images/favicon.ico" type="image/ico">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css" rel="stylesheet" />

</head>
<body style="background-color: #292f43; color: #b3b3b3;" text-align="center">

    <style>
		@*@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');

		body a {
			color: #8ec742;
		}*@

		body {
			font-family: 'Noto Sans HK', sans-serif;
		}
    </style>

    <div style="padding-bottom: 15px; padding-top: 40px; text-align: center;">
        <img src="StudenthubMenuLogo.png" alt="">
    </div>
    <div style="text-align: center; margin: 0px 20px 50px 20px;">
        <a href="../WebApi/" style="color: #b3b3b3; padding: 10px;">WebApi Home</a>
        <a href="../WebApi/SampleData" style="color: #b3b3b3; padding: 10px;">Sample Data</a>
        <a href="../WebApi/AvailableExamResults" style="color: #b3b3b3; padding: 10px;">Available Results</a>
    </div>
    @RenderBody()

    <div style="margin-top: 170px;text-align: center;">
        <div>
            <p style=" font-size: 14px;">©2016 - @DateTime.Now.Year All Rights Reserved Studenthub.in</p>
        </div>
        <div>
            <p style=" font-size: 14px;">Powered By: <a href="http://www.bracketsntags.com"><u><b>Bracketsntags.com</b></u></a></p>
        </div>
    </div>
</body>
</html>

<script src="/assets/gentelella/vendors/jquery/dist/jquery.min.js"></script>

<script>


</script>
