<!DOCTYPE html>
<html>
<head>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="#" />
    <meta name="keywords" content="#" />
    <meta name="author" content="ATTROI" />

    <!-- Page Title -->
    <title>Top Colleges, Universities &amp; Institutes in India | Admission, Fees, Rankings of Top Management, Engineering, Medical Colleges</title>

    <!-- Favicon and Touch Icons -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">


    <!-- Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" type="text/css">
    <link href="css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link href="css/menuzord-megamenu.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="css/style-main.css" rel="stylesheet" type="text/css">
    <link href="css/custom.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="css/responsive.css" rel="stylesheet" type="text/css">


    <!-- Revolution Slider 5.x CSS settings -->
    <link href="js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />

    <!-- CSS | Theme Color -->
    <link href="css/colors/theme-skin-color-set-1.css" rel="stylesheet" type="text/css">

    <!-- external javascripts -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="js/jquery-plugin-collection.js"></script>

    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

</head>
<body class="">
    <!-- start main-content -->
    <div class="main-content">
        <!-- Section: home -->
        <section class="layer-overlay overlay-white-9" data-bg-img="images/bg/bg1.jpg">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-push-3">
                                <div class="text-center mb-60"><a href="index" class=""><img alt="" src="images/logo-wide.png"></a></div>

                                <form name="reg-form" class="register-form form-transparent" method="post">
                                    <div class="icon-box mb-0 p-0">
                                        <a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10">
                                            <i class="pe-7s-users"></i>
                                        </a>
                                        <h4 class="text-gray pt-10 mt-0 mb-30">Don't have an Account? Register Now.</h4>
                                    </div>


                                    <div class="row">
                                        <div class="form-group col-md-6">

                                            <input name="form_name" class="form-control" placeholder="Name" type="text">
                                        </div>
                                        <div class="form-group col-md-6">

                                            <input name="form_email" class="form-control" placeholder="Email" type="email">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">

                                            <input name="Date Of Birth" class="form-control required date-picker" type="text" placeholder="Date Of Birth" aria-required="true">
                                        </div>
                                        <div class="form-group col-md-6">

                                            <input name="form_choose_password" placeholder="+91 Mobile No." class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">

                                            <select class="form-control" name="year_interested_in" required="">
                                                <option value="">Preferred Year of Admission</option>
                                                <option value="2019 - 2020">2019 - 2020</option>
                                                <option value="2020 - 2021">2020 - 2021</option>
                                                <option value="2021 - 2022">2021 - 2022</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">

                                            <select data-placeholder="Location" class="form-control" id="location" name="city" required="">
                                                <option value="">Enter Your City</option>
                                                <optgroup label="Major Cities">
                                                    <option style="padding:.3em" value="125">New Delhi</option>
                                                    <option style="padding:.3em" value="129">Ahmedabad</option>
                                                    <option style="padding:.3em" value="227">Bangalore</option>
                                                    <option style="padding:.3em" value="336">Mumbai</option>
                                                    <option style="padding:.3em" value="471">Chennai</option>
                                                    <option style="padding:.3em" value="8">Hyderabad</option>
                                                    <option style="padding:.3em" value="608">Kolkata</option>
                                                </optgroup>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <div class="styled-select">
                                                <select name="person_select" class="form-control" required="" aria-required="true">
                                                    <option value="">Choose Your Course</option>
                                                    <option value="1 Person">Software Engineering</option>
                                                    <option value="2 Person">Computer Science engineering</option>
                                                    <option value="3 Person">Accounting Technologies</option>
                                                    <option value="Family Pack">BACHELOR`S DEGREE</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn bg-theme-color-2 text-white btn-lg btn-block mt-15" type="submit">Register Now</button>
                                    </div>
                                    <div class="text-center" style="height:15px;border-bottom:1px solid #c6c8cc;margin-bottom:20px"><span style="font-size:20px;background-color:#f6f6f6;padding:0 10px">or</span></div>
                                    <div class="text-center pt-10">
                                        <a class="btn btn-dark btn-lg btn-block no-border mt-15 mb-15" href="#" data-bg-color="#3b5998">Login with  <i class="fa fa-facebook"></i></a>
                                        <a class="btn btn-dark btn-lg btn-block no-border" href="#" data-bg-color="#dd4b39">Login with <i class="fa fa-google-plus"></i></a>
                                    </div>
                                    <p class="mt-30"><strong>Already A Member? <a href="@Url.Action("Index", "Login")" class="bg-color-2"> Login here</a>  it's Easy.</strong></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end main-content -->
    <!-- Footer Scripts -->
    <!-- JS | Custom script for all pages -->
    <script src="js/custom.js"></script>



    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
          (Load Extensions only on Local File Systems !
           The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>

</body>

</html>