<div class="footer_main pt-4 pb-4">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center mt-0 mt-sm-5 pb-4 pb-sm-5 mb-3 mb-sm-5 border-bottom">
            <img src="../../../assets/images/svg_icons/StudentHub_Logo.svg" />
            <div class="ml-sm-auto d-flex flex-wrap align-items-center mt-4 mt-sm-0">
                <!-- <h6 class="pr-2 text-white">Get Latest Updates On</h6> -->
                <a href="" class="social_icons"><i class="fab fa-facebook"></i></a>
                <a href="" class="social_icons"><i class="fab fa-instagram"></i></a>
                <a href="" class="social_icons"><i class="fab fa-twitter"></i></a>
                <a href="" class="social_icons"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-12 col-sm-2">
                <h6 class="text-white mb-3 text-uppercase">About Us</h6>
                <div class="list-group list-group-flush footer_lg_edit">
                    <a href="#" class="list-group-item">Our Story</a>
                    <a href="#" class="list-group-item">Leadership</a>
                    <a href="#" class="list-group-item">Careers</a>
                    <a href="#" class="list-group-item">Learner Stories</a>
                    <a href="#" class="list-group-item">Blog</a>
                    <a href="#" class="list-group-item">Contact Us</a>
                </div>
            </div> -->
            <div class="col-12 col-sm-3">
                <h6 class="text-white mb-3 text-uppercase">Top Engineering Colleges</h6>
                <h6 class="text-lightblue">State Wise</h6>
                <div class="list-group list-group-flush footer_lg_edit">
                    <a href="#" class="list-group-item">Top Engineering Colleges In India</a>
                    <a href="#" class="list-group-item">Top Engineering Colleges In Tamilnadu</a>
                    <a href="#" class="list-group-item">Top Engineering Colleges In Telangana</a>
                    <a href="#" class="list-group-item">Top Engineering Colleges In Andhra Pradesh</a>
                    <a href="#" class="list-group-item">Top Engineering Colleges In Karnataka</a>
                </div>
                <!-- <h6 class="text-lightblue mt-2 mb-3">City Wise</h6>
                <div class="list-group list-group-flush footer_lg_edit">
                    <a href="#" class="list-group-item">Top Engineering Colleges In Banglore</a>
                    <a href="#" class="list-group-item">Top Engineering Colleges In Chennai</a>
                    <a href="#" class="list-group-item">Top Engineering Colleges In Hyderabad</a>
                </div> -->
            </div>
            <div class="col-12 col-sm-3">
                <h6 class="text-white mb-3 text-uppercase">Explore all Top Colleges in India</h6>
                <!-- <h6 class="text-lightblue">State Wise</h6> -->
                <div class="list-group list-group-flush footer_lg_edit">
                    <a href="#" class="list-group-item">Explore all IIT's</a>
                    <a href="#" class="list-group-item">Explore all NIT's</a>
                    <a href="#" class="list-group-item">Explore all IIIT's</a>
                    <a href="#" class="list-group-item">Explore all IISER's</a>
                    <a href="#" class="list-group-item">Explore all Deemed Universities</a>
                </div>
                <!-- <h6 class="text-lightblue mt-2 mb-3">City Wise</h6>
                <div class="list-group list-group-flush footer_lg_edit">
                    <a href="#" class="list-group-item">Top Colleges In Banglore</a>
                    <a href="#" class="list-group-item">Top Colleges In Chennai</a>
                    <a href="#" class="list-group-item">Top Colleges In Hyderabad</a>
                </div> -->
            </div>
            <div class="col-12 col-sm-4 d-flex flex-wrap flex-column">
                <div class="mb-auto">
                    <h6 class="text-white mb-3 text-uppercase">Get In Touch</h6>
                    <p class="text-white mb-2">We don't send spam so don't worry.</p>
                    <div class="search_bar">
                        <input type="text" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <a href="" class="input_search_ic d-flex align-items-center">
                            <i class="fa fa-search"></i>
                            <h5 class="pl-2 m-0">Search</h5>
                        </a>
                    </div>
                </div>
                <div class="">
                    <div class="d-flex align-items-center mb-2">
                        <img width="20" src="../../../assets/images/svg_icons/Location.svg"/>
                        <h5 class="text-studenthub pl-3">Get Directions</h5>
                    </div>
                    <h6 class="text-white">D.NO.7/1/621/53,SRI SAI RESIDENCY,S.R.NAGAR HYDERABAD,TELANGANA 500038</h6>
                </div>
            </div>
        </div>
        <div class="row border-top mt-3 pt-3 pl-3 pr-3 pb-0">
            <div class="mr-auto text-white">
                2022 Copyright. All Rights Reserved to Marella softlabs private limited.
            </div>
            <!-- <div class="d-flex flex-wrap mt-3 mt-md-0">
                <a href="" class="text-white mr-3">About Us</a>
                <a href="" class="text-white mr-3">Education Loans</a>
                <a href="" class="text-white mr-3">Privacy Policy</a>
                <a href="" class="text-white mr-3">Advertise With Us</a>
                <a href="" class="text-white">Terms of Use</a>
            </div> -->
        </div>
    </div>
</div>