<div class="row mb-4">
  <div class="col-12 col-sm-12 text-center">
      <h3 class="text-studenthub">Latest Scholarships</h3>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body">
        <img width="50" src="../../../assets/images/svg_icons/Scholarships - Home Page.svg">
        <h5 class="card-title mt-3 text-dark">Popular Scholarships in India</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul> 
      </div>
      <div class="card-footer border-0 bg-transparent mb-4">
        <a href="#" class="btn btn-outline-dark btn-sm">Explore All <i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body">
        <img width="50" src="../../../assets/images/svg_icons/Scholarships - Home Page.svg">
        <h5 class="card-title mt-3 text-dark">Popular Scholarships in Abroad</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul> 
      </div>
      <div class="card-footer border-0 bg-transparent mb-4">
        <a href="#" class="btn btn-outline-dark btn-sm">Explore All <i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body">
        <img width="50" src="../../../assets/images/svg_icons/study abroad.svg">
        <h5 class="card-title mt-3 text-dark">Study Abroad Tips</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul> 
      </div>
      <div class="card-footer border-0 bg-transparent mb-4">
        <a href="#" class="btn btn-outline-dark btn-sm">Explore All <i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
    </div>
  </div>
</div>