
@{
    ViewBag.Title = "Sample Hall Tickets - Studenthub.in";
    Layout = "~/Views/Shared/_LayoutWebApi.cshtml";
}

<div class="container-fluid">
    <a href="../WebApi" style="color: #b3b3b3;">Back to WebApi</a>
</div>

<div class="container-fluid">
    <p><strong>AP EAPCET ENG. 2021</strong></p>
    <p>&nbsp;</p>
    <p>50151010001</p>
    <p>50151010002</p>
    <p>50151010003</p>
    <p>50151010004</p>
    <p>50151010005</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>AP EAPCET AM 2021</strong></p>
    <p>&nbsp;</p>
    <p>91151010003</p>
    <p>91151010004</p>
    <p>91151010005</p>
    <p>91151010007</p>
    <p>91151010008</p>
    <p>91151010009</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>TS EAMCET AM 2021</strong></p>
    <p>&nbsp;</p>
    <p>2111D03798</p>
    <p>2113Q01110</p>
    <p>2111D02163</p>
    <p>2113N01201</p>
    <p>2112T05018</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>TS EAMCET ENG. 2021</strong></p>
    <p>&nbsp;</p>
    <p>2124D07085</p>
    <p>2124D07087</p>
    <p>2124D07088</p>
    <p>2124D07089</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>TS YEAR 2 INTERMEDIATE 2021</strong></p>
    <p>&nbsp;</p>
    <p><strong>REGULAR HALL TICKET NUMBERS</strong></p>
    <p>2130200444</p>
    <p>2130200448</p>
    <p>2130200002</p>
    <p>2130200001</p>
    <p>2130200470</p>
    <p>2130201493</p>
    <p>&nbsp;</p>
    <p><strong>VOCATIONAL HALL TICKET NUMBERS</strong></p>
    <p>2130500669</p>
    <p>2130500950</p>
    <p>2131500061</p>
    <p>2130500003</p>
    <p>2130500007</p>
    <p>2130500022</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>TS YEAR 1 INTERMEDIATE 2020</strong></p>
    <p>&nbsp;</p>
    <p><strong>REGULAR HALL TICKET NUMBERS</strong></p>
    <p>2030100001</p>
    <p>2030100002</p>
    <p>2030100003</p>
    <p>2030100707</p>
    <p>2030100315</p>
    <p>&nbsp;</p>
    <p><strong>VOCATIONAL HALL TICKET NUMBERS</strong></p>
    <p>2064401152</p>
    <p>2064401145</p>
    <p>2064400851</p>
    <p>2064401141</p>
    <p>2063400393</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>ANDHRA PRADESH SSC 2021</strong></p>
    <p>&nbsp;</p>
    <p><strong>ROLLNO</strong></p>
    <p>2109300042</p>
    <p>2109300143</p>
    <p>2109300107</p>
    <p>2139113542</p>
    <p>2139113543</p>
    <p>2139113544</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>TELANGANA SSC 2019</strong></p>
    <p>&nbsp;</p>
    <p><strong>ROLLNO</strong></p>
    <p>2109300042</p>
    <p>2109300143</p>
    <p>2109300107</p>
    <p>2139113542</p>
    <p>2139113543</p>
    <p>2139113544</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>AP YEAR 1 INTERMEDIATE 2020</strong></p>
    <p>&nbsp;</p>
    <p><strong>VOCATIONAL HALL TICKET NUMBERS</strong></p>
    <p>2002413070</p>
    <p>2003415501</p>
    <p>2007412018</p>
    <p>2002412100</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>REGULAR HALL TICKET NUMBERS</strong></p>
    <p>2006134052</p>
    <p>2010149460</p>
    <p>2003153193</p>
    <p>2007135852</p>
    <p>2006111049</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>AP YEAR 2 INTERMEDIATE 2020</strong></p>
    <p>&nbsp;</p>
    <p><strong>VOCATIONAL</strong></p>
    <p>2002611106</p>
    <p>2002611260</p>
    <p>2002611109</p>
    <p>2003510730</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>REGULAR</strong></p>
    <p>2001317994</p>
    <p>2003316819</p>
    <p>2024314322</p>
    <p>2004315835</p>
    <p>2008231166</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>ICET</strong></p>
    <p>&nbsp;</p>
    <p><strong>TS - 2021</strong></p>
    <p>2117301290</p>
    <p>2128002023</p>
    <p>2127402005</p>
    <p>2127201508</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>AP - 2020</strong></p>
    <p>2328012045</p>
    <p>2325010471</p>
    <p>2139020353</p>
    <p>2132030082</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>POLYCET</strong></p>
    <p>&nbsp;</p>
    <p><strong>TS - 2021</strong></p>
    <p>4005001</p>
    <p>4005019</p>
    <p>7125168</p>
    <p>8475098</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>AP - 2021</strong></p>
    <p>3531241</p>
    <p>6761057</p>
    <p>6961309</p>
    <p>1241147</p>
</div>