@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}


<!-- Start slider section -->
<section class="slider-area">
    <div class="container-full">
        <div class="row">
            <div class="col-lg-12 regular">
                <div class="slider-1">
                    <div class="edu-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-10">
                                <div class="welcome-text">
                                    <h1>Welcome To <span>StudentHub</span></h1>
                                    <h3>Education is the process of facilitating learning</h3>
                                    <p>Education is the most powerful weapon which you can use to change the world.</p>
                                    <a href="#" class="welcome-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-2">
                    <div class="edu-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-10">
                                <div class="welcome-text">
                                    <h1>Welcome To <span>StudentHub</span></h1>
                                    <h3>Education is the process of facilitating learning</h3>
                                    <p>Education is the most powerful weapon which you can use to change the world.</p>
                                    <a href="#" class="welcome-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-3">
                    <div class="edu-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-10">
                                <div class="welcome-text">
                                    <h1>Welcome To <span>StudentHub</span></h1>
                                    <h3>Education is the process of facilitating learning</h3>
                                    <p>Education is the most powerful weapon which you can use to change the world.</p>
                                    <a href="#" class="welcome-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End slider section -->
<!-- Start service section -->
<section class="service section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="edu-title">
                    <h2>services</h2>
                    <p>Get Trained and Certified with our Diverse Training Models. Pick your choice and get Trained Now.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-area text-center">
                    <div class="service-icon">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <h3>Online Training</h3>
                    <p>Get Trained in the Comfort of your Home. Get Connected in a Virtual Class Room and Complete the Course.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-area text-center">
                    <div class="service-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <h3>Class Room Training</h3>
                    <p>Come into our Class Rooms and get Interacted with our Instructors Directly. Sign up for a Course Now..</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-area text-center">
                    <div class="service-icon">
                        <i class="fa fa-suitcase"></i>
                    </div>
                    <h3>Corporate Training</h3>
                    <p>Give your Employees the Best Corporate Training they Deserve. Get them Trained with our Best Instructors.</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End service section -->
<!-- Start who-we-are section -->
<section class="who-we-are section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="edu-title">
                    <h2>Welcome To StudentHub</h2>
                    <p style="padding: 0 20%;">One stop for learning the Latest and Trending Courses. With our Best Instructors we provide Exceptional Training Services to make you a Professional.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="who-we-are-details">
                    <!--<div class="who-we-are-top-text">
                        <h2>Welcome To StudentHub.</h2>
                    </div>-->
                    <div class="who-we-are-main-content">
                        <h2>How it Works</h2>
                        <hr />
                        <div class="categories">
                            <ul>
                                <li><i class="fa fa-chevron-circle-right"></i>Sign up & Register for a Course of your Choice</li>
                                <li><i class="fa fa-chevron-circle-right"></i>Have Live Interaction with Instructors</li>
                                <li><i class="fa fa-chevron-circle-right"></i>Get Trained on a Live Project</li>
                                <li><i class="fa fa-chevron-circle-right"></i>Get Assistance in Interview Preparations</li>
                                <li><i class="fa fa-chevron-circle-right"></i>Get Certified</li>
                            </ul>
                        </div>
                        <p>We have an Experienced and Distinguished team of Instructors who will Teach and Guide you in Training. Join now. Complete the Course. Get Certified. Crack the Interview. Join your Dream Job.</p>
                    </div>
                    <div class="who-we-are-buttn">
                        <a href="#" class="eduspace-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="who-we-are-img">
                    <img src="assets/img/WhoWeAre.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section><!-- End who-we-are section -->
<!-- Start eduspace-starts section -->
<!--<section class="eduspace-starts section-padding">
    <div class="edu-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="eduspace-area text-center">
                    <div class="countdown">
                        <div class="counticon">
                            <i class="fa fa-users"></i>
                            <h1 class="counter aboutcounter">4373</h1>
                            <h3>Studens</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="eduspace-area text-center">
                    <div class="countdown">
                        <div class="counticon">
                            <i class="fa fa-rocket"></i>
                            <h1 class="counter aboutcounter">10</h1>
                            <h3>Course</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="eduspace-area text-center">
                    <div class="countdown">
                        <div class="counticon">
                            <i class="fa fa-book"></i>
                            <h1 class="counter aboutcounter">373</h1>
                            <h3>Class</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="eduspace-area text-center">
                    <div class="countdown">
                        <div class="counticon">
                            <i class="fa fa-user"></i>
                            <h1 class="counter aboutcounter">20</h1>
                            <h3>Trainer</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End eduspace-starts section -->
<!--Start gallery Section-->
<section class="gallery" id="gallery">
    <!--section-padding-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="edu-title">
                    <h2>Our Courses</h2>
                    <p>With a disctinctive blend of Trending & Latest Courses, Get Trained and become a Professional.</p>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-lg-12">
                <div class="portfolio-button text-center">
                    <button class="button is-checked" data-filter="*">all</button>
                    <button class="button" data-filter=".exam">exam</button>
                    <button class="button" data-filter=".contest">contest</button>
                    <button class="button" data-filter=".tour">tour</button>
                </div>
            </div>
        </div>-->
        <div class="row grid-area">
            <div class="col-lg-3 col-md-6 col-sm-12 single-item exam">
                <div class="gallery-img">
                    <img src="assets/img/HadoopFinal.png" class="img-fluid" alt="">
                    <!--<div class="gallery-single-overlay">
                        <a href="assets/img/HadoopFinal.png" class="gallery-single"><i class="fa fa-search-plus"></i></a>
                    </div>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-item contest">
                <div class="gallery-img">
                    <img src="assets/img/AWS.png" class="img-fluid" alt="">
                    <!--<div class="gallery-single-overlay">
                        <a href="assets/img/AWS.png" class="gallery-single"><i class="fa fa-search-plus"></i></a>
                    </div>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-item exam">
                <div class="gallery-img">
                    <img src="assets/img/DevopsFinal.png" class="img-fluid" alt="">
                    <!--<div class="gallery-single-overlay">
                        <a href="assets/img/DevopsFinal.png" class="gallery-single"><i class="fa fa-search-plus"></i></a>
                    </div>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-item tour">
                <div class="gallery-img">
                    <img src="assets/img/SalesForceFinal.png" class="img-fluid" alt="">
                    <!--<div class="gallery-single-overlay">
                        <a href="assets/img/SalesForceFinal.png" class="gallery-single"><i class="fa fa-search-plus"></i></a>
                    </div>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-item contest">
                <div class="gallery-img">
                    <img src="assets/img/SapFinal.png" class="img-fluid" alt="">
                    <!--<div class="gallery-single-overlay">
                        <a href="assets/img/SapFinal.png" class="gallery-single"><i class="fa fa-search-plus"></i></a>
                    </div>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-item tour">
                <div class="gallery-img">
                    <img src="assets/img/ServiceNowFinal.png" class="img-fluid" alt="">
                    <!--<div class="gallery-single-overlay">
                        <a href="assets/img/ServiceNowFinal.png" class="gallery-single"><i class="fa fa-search-plus"></i></a>
                    </div>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-item tour">
                <div class="gallery-img">
                    <img src="assets/img/HRRecruitmenFinal.png" class="img-fluid" alt="">
                    <!--<div class="gallery-single-overlay">
                        <a href="assets/img/HRRecruitmenFinal.png" class="gallery-single"><i class="fa fa-search-plus"></i></a>
                    </div>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-item tour">
                <div class="gallery-img">
                    <img src="assets/img/FabFinal.png" class="img-fluid" alt="">
                    <!--<div class="gallery-single-overlay">
                        <a href="assets/img/FabFinal.png" class="gallery-single"><i class="fa fa-search-plus"></i></a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section><!--End gallery Section-->
<!--start testimonials section -->
<section class="testimonial section-padding">
    <div class="conatiner">
        <div class="row">
            <div class="col-lg-12">
                <div class="edu-title text-center">
                    <h2>Feedback From Students</h2>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, placeat saepe quasi magnam totam exercitationem.</p>-->
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="responsive">
                    <div class="client-single">
                        <div class="client-id">
                            <!--<img src="assets/img/client-1.jpg" alt="">-->
                            <h3>Isabella Mia</h3>
                            <!--<h4>invester</h4>-->
                        </div>
                        <div class="client-review">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur labore consequatur et repudiandae quidem deserunt, dignissimos.</p>
                        </div>
                    </div>
                    <div class="client-single">
                        <div class="client-id">
                            <!--<img src="assets/img/client-2.jpg" alt="">-->
                            <h3>William jacob</h3>
                            <!--<h4>invester</h4>-->
                        </div>
                        <div class="client-review">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur labore consequatur et repudiandae quidem deserunt, dignissimos.</p>
                        </div>
                    </div>
                    <div class="client-single">
                        <div class="client-id">
                            <!--<img src="assets/img/client-3.jpg" alt="">-->
                            <h3>Olivia Harper</h3>
                            <!--<h4>invester</h4>-->
                        </div>
                        <div class="client-review">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur labore consequatur et repudiandae quidem deserunt, dignissimos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--End testimonials section -->
<!--start Home Contact section -->
<section class="section-padding">
    <div class="conatiner">
        <div class="row">
            <div class="col-md-6">
                <div class="who-we-are-img">
                    <img src="assets/img/HomeEnquiry.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-12">
                    <div class="edu-title text-center">
                        <h2>Enquiry</h2>
                    </div>
                </div>
                <div class="col-md-12 contact-form-area">
                    <div class="contact-form">
                        <form class="cmxform" id="contact-form1" method="post" action="#">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Your Name" id="contact_name" name="name" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter Your Email" id="contact_email" name="email" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Your phone Number" id="contact_number" name="pnumber" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" placeholder="Write your Message here..." id="contact_message" name="message" required></textarea>
                                </div>
                            </div>
                            <div id="error" class="alert alert-danger" style="display: none">Enquiry Sending Failed</div>
                            <div id="success" class="alert alert-success" style="display: none">Enquiry Submitted</div>
                            <div class="col-md-6">
                                <div class="confirm">
                                    <button id="enquirysubmit" type="submit" class="eduspace-btn">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--End Home contact section -->