
@{
    ViewBag.Title = "Registration Successful - StudentHub.in";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<section class="registraion-form section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="edu-title text-center">
                    <h2>Registration Successful</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div style="min-height: 150px;padding: 10px 50px;font-size: 17px;text-align: center;color: #292f43;/* border: solid thin #8dc641; */">
                Please Check your Inbox for a Verification Email.
                <div style="padding: 15px;">
                    Follow the VERIFICATION LINK in the Email and Complete the Registration Process.
                    @ViewBag.Response
                </div>
            </div>
        </div>
    </div>
</section>