<!-- Section: Articles Start -->
<section>
    <div class="container">
        <div class="section-title mb-10">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="mt-0 text-uppercase font-28 line-bottom line-height-1">Popular <span class="text-theme-color-2 font-weight-400">Articles</span></h2>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <article class="post clearfix mb-sm-30">
                        <div class="entry-header box-hover-effect">
                            <div class="effect-wrapper">
                                <div class="post-thumb thumb">
                                    <img src="images/articles/1.jpg" alt="" class="img-responsive img-fullwidth">
                                    <div class="overlay-shade"></div>
                                </div>
                            </div>
                        </div>
                        <div class="entry-content p-0 pr-10">
                            <h4 class="entry-title"><a href="#">New Age Engineering Courses In India</a></h4>

                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <article class="post clearfix mb-sm-30">
                        <div class="entry-header box-hover-effect">
                            <div class="effect-wrapper">
                                <div class="post-thumb thumb">
                                    <img src="images/articles/2.jpg" alt="" class="img-responsive img-fullwidth">
                                    <div class="overlay-shade"></div>
                                </div>
                            </div>
                        </div>
                        <div class="entry-content p-0 pr-10">
                            <h4 class="entry-title"><a href="#">UPTET 2019: Exam Dates, Appilication Form, Eligibility, Syllabus, Pattern, Result</a></h4>

                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <article class="post clearfix mb-sm-30">
                        <div class="entry-header box-hover-effect">
                            <div class="effect-wrapper">
                                <div class="post-thumb thumb">
                                    <img src="images/articles/3.jpg" alt="" class="img-responsive img-fullwidth">
                                    <div class="overlay-shade"></div>
                                </div>
                            </div>
                        </div>
                        <div class="entry-content p-0 pr-10">
                            <h4 class="entry-title"><a href="#">Latest Engineering Courses That You Can Pick after Class 12</a></h4>

                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <article class="post clearfix mb-sm-30">
                        <div class="entry-header box-hover-effect">
                            <div class="effect-wrapper">
                                <div class="post-thumb thumb">
                                    <img src="images/articles/4.jpg" alt="" class="img-responsive img-fullwidth">
                                    <div class="overlay-shade"></div>
                                </div>
                            </div>
                        </div>
                        <div class="entry-content p-0 pr-10">
                            <h4 class="entry-title"><a href="#">DU PG Admission 2019: Exam Date, Eligibility, Application Form</a></h4>

                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <article class="post clearfix mb-sm-30">
                        <div class="entry-header box-hover-effect">
                            <div class="effect-wrapper">
                                <div class="post-thumb thumb">
                                    <img src="images/articles/5.jpg" alt="" class="img-responsive img-fullwidth">
                                    <div class="overlay-shade"></div>
                                </div>
                            </div>
                        </div>
                        <div class="entry-content p-0 pr-10">
                            <h4 class="entry-title"><a href="#">CBSE Vs CISCE 2019: How the Two Fare in Terms of Class 10 and 12 Results</a></h4>

                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>


            </div>
        </div>
    </div>
</section>

<!-- Section: Articles End -->
