<!-- Explore Now Start -->
<section class="bg-lighter">
    <div class="container pb-40">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="text-uppercase mt-0 line-height-1">WELCOME TO STUDENTHUB.IN</h2>
                    <p class="p-20">we provide extensive search engine for the students, parents, and other education entities who are seeking information <br>Explore our Services
                    </p>
                </div>
            </div>
        </div>
        <div class="section-content pl-30 pr-30">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="text-center explore-box mb-30 p-10">
                        <a href="#" class="">
                            <img src="images/flaticon-png/small/7.png" alt="">

                            <h4 class="font-weight-600 mt-20 text-uppercase">Find Leading Colleges</h4>
                        </a>
                        <p>Find the best colleges as per your preference and liking !</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="text-center explore-box mb-30 p-10">
                        <a href="#" class="">
                            <img src="images/flaticon-png/small/3.png" alt="">

                            <h4 class="font-weight-600 mt-20 text-uppercase">Explore Exams</h4>
                        </a>
                        <p>Get the information about the different examinations in the country !</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="text-center explore-box mb-30 p-10">
                        <a href="latest-news.html" class="">
                            <img src="images/flaticon-png/small/2.png" alt="">

                            <h4 class="font-weight-600 mt-20 text-uppercase">Get Latest News</h4>
                        </a>
                        <p>Be aware of the latest news and updates in the Education world !</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="text-center explore-box mb-sm-30 p-10">
                        <a href="reviews.html" class="">
                            <img src="images/flaticon-png/small/6.png" alt="">
                            <h4 class="font-weight-600 mt-20 text-uppercase">Top Reviews</h4>
                        </a>
                        <p>Checkout the top reviewed colleges and institutions in the country !</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="text-center explore-box mb-sm-30 p-10">
                        <a href="top-courses.html" class="">
                            <img src="images/flaticon-png/small/5.png" alt="">
                            <h4 class="font-weight-600 mt-20 text-uppercase">Top Courses</h4>
                        </a>
                        <p>Learn more about the Top and Trending courses in the country !</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="text-center explore-box mb-sm-30 p-10">
                        <a href="#" class="">
                            <img src="images/flaticon-png/small/4.png" alt="">

                            <h4 class="font-weight-600 mt-20 text-uppercase">Admissions Info</h4>
                        </a>
                        <p>Find out about the process to get admissions in reputed colleges !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Explore Now End -->