<!-- Section: Slider Start-->
<section id="home">
    <div class="container-fluid p-0">

        <!-- Slider Revolution Start -->
        <div class="rev_slider_wrapper">
            <div class="rev_slider" data-version="5.0">
                <ul>

                    <!-- SLIDE 1 -->
                    <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg4.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="images/bg/bg4.jpg" alt="" data-bgposition="center 10%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <!--div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                          id="rs-1-layer-1"

                          data-x="['left']"
                          data-hoffset="['30']"
                          data-y="['middle']"
                          data-voffset="['-110']"
                          data-fontsize="['60']"
                          data-lineheight="['110']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;s:500"
                          data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                          data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                          data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                          data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                          data-start="1000"
                          data-splitin="none"
                          data-splitout="none"
                          data-responsive_offset="on"
                          style="z-index: 7; white-space: nowrap; font-weight:700;">Education
                        </div-->
                        <!-- LAYER NR. 2 -->
                        <!--div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent border-left-theme-color-2-6px pl-20 pr-20"
                          id="rs-1-layer-2"

                          data-x="['left']"
                          data-hoffset="['35']"
                          data-y="['middle']"
                          data-voffset="['-25']"
                          data-fontsize="['25']"
                          data-lineheight="['54']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;s:500"
                          data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                          data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                          data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                          data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                          data-start="1000"
                          data-splitin="none"
                          data-splitout="none"
                          data-responsive_offset="on"
                          style="z-index: 7; white-space: nowrap; font-weight:600;">Education For Everyone
                        </div-->
                        <!-- LAYER NR. 3 -->
                        <!--div class="tp-caption tp-resizeme text-white"
                          id="rs-1-layer-3"

                          data-x="['left']"
                          data-hoffset="['35']"
                          data-y="['middle']"
                          data-voffset="['35']"
                          data-fontsize="['15']"
                          data-lineheight="['28']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;s:500"
                          data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                          data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                          data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                          data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                          data-start="1400"
                          data-splitin="none"
                          data-splitout="none"
                          data-responsive_offset="on"
                          style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">We provides always our best services for our clients and  always<br> try to achieve our client's trust and satisfaction.
                        </div-->


                    </li>

                    <!-- SLIDE 2 -->
                    <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg2.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="images/bg/bg2.jpg" alt="" data-bgposition="center 40%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                        <!-- LAYERS -->
                    </li>

                    <!-- SLIDE 3 -->
                    <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg3.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="images/bg/bg3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                        <!-- LAYERS -->
                    </li>
                </ul>
            </div>
            <!-- end .rev_slider -->
            <!-- Slider Form Start -->
            <div class="form-banner">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="p-30 mt-0 bg-theme-colored">
                            <h3 class="title-pattern mt-0" style="text-align: center;"><span class="text-white"> Ask<span class="text-theme-color-2"> US</span></span></h3>
                            <!-- Appilication Form Start-->
                            <form name="reservation_form" class="reservation-form mt-20" method="post" action="#">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group mb-20">
                                            <input placeholder="Enter Name" type="text" name="askus_name" required="required" class="form-control" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group mb-20">
                                            <input placeholder="Email" type="email" name="askus_email" class="form-control" required="required" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group mb-20">
                                            <input placeholder="Phone" type="text" name="askus_phone" class="form-control" required="required" aria-required="true">
                                        </div>
                                    </div>
                                    @*<div class="col-sm-6">
                                        <div class="form-group mb-20">
                                            <div class="styled-select">
                                                <select id="person_select" name="person_select" class="form-control" required="" aria-required="true">
                                                    <option value="">Choose Subject</option>
                                                    <option value="1 Person">Software Engineering</option>
                                                    <option value="2 Person">Computer Science engineering</option>
                                                    <option value="3 Person">Accounting Technologies</option>
                                                    <option value="Family Pack">BACHELOR`S DEGREE</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-20">
                                            <input name="Date Of Birth" class="form-control required date-picker" type="text" placeholder="Date" aria-required="true">
                                        </div>
                                    </div>*@
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <textarea placeholder="Enter Message" rows="3" class="form-control required" name="askus_message" id="form_message" aria-required="true" 
                                                      maxlength="250"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group mb-0 mt-10">
                                            <input name="form_botcheck" class="form-control" type="hidden" value="">
                                            <label type="submit" class="btn btn-colored btn-theme-color-2 text-white btn-lg btn-block" data-loading-text="Please wait...">Submit Request</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Slider Form End-->


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end .rev_slider_wrapper -->
        <script>
            $(document).ready(function (e) {
                var revapi = $(".rev_slider").revolution({
                    sliderType: "standard",
                    jsFileLocation: "js/revolution-slider/js/",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 5000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        onHoverStop: "off",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        },
                        arrows: {
                            style: "gyges",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: true,
                            hide_delay: 200,
                            hide_delay_mobile: 1200,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 0,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 0,
                                v_offset: 0
                            }
                        },
                        bullets: {
                            enable: true,
                            hide_onmobile: true,
                            hide_under: 800,
                            style: "hebe",
                            hide_onleave: false,
                            direction: "horizontal",
                            h_align: "center",
                            v_align: "bottom",
                            h_offset: 0,
                            v_offset: 30,
                            space: 5,
                            tmp: '<span class="tp-bullet-image"></span><span class="tp-bullet-imageoverlay"></span><span class="tp-bullet-title"></span>'
                        }
                    },
                    responsiveLevels: [1240, 1024, 778],
                    visibilityLevels: [1240, 1024, 778],
                    gridwidth: [1170, 1024, 778, 480],
                    gridheight: [620, 768, 960, 720],
                    lazyType: "none",
                    parallax: "mouse",
                    parallaxBgFreeze: "off",
                    parallaxLevels: [2, 3, 4, 5, 6, 7, 8, 9, 10, 1],
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "on",
                    stopAfterLoops: 0,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    fullScreenAutoWidth: "off",
                    fullScreenAlignForce: "off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "0",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            });
        </script>
        <!-- Slider Revolution Ends -->
    </div>
</section>
<!-- Section: Slider End-->
<!-- Search Form Start -->
@*<section class="bg-theme-colored">
    <div class="container-fluid pt-5 pb-0">
        <div class="row">
            <div class="call-to-action">
                <!-- Reservation Form Start-->
                <form name="reservation_form" class="reservation-form mb-0" method="post" action="#" novalidate="novalidate">

                    <div class="col-xs-12 col-sm-6 col-md-custom">
                        <div class="form-group">
                            <div class="styled-select">
                                <select id="car_select" name="car_select" class="form-control" required="" aria-required="true">
                                    <option value="">- Select State -</option>
                                    <option value="Accounting Technologies">Accounting Technologies</option>
                                    <option value="Computer Science">Computer Science</option>
                                    <option value="Graphic Desing">Graphic Desing</option>
                                    <option value="Economic Analysis">Economic Analysis</option>
                                    <option value="Modern Languages">Modern Languages</option>
                                    <option value="Chemical Engineering">Chemical Engineering</option>
                                    <option value="Software Engineering">Software Engineering</option>
                                    <option value="Electrical &amp; Electronic">Electrical &amp; Electronic</option>
                                    <option value="Banking Honours">Banking Honours</option>
                                    <option value="Games Technologies">Games Technologies</option>
                                    <option value="Information Technologies">Information Technologies</option>
                                    <option value="Marine Science">Marine Science</option>
                                    <option value="Primary Teaching">Primary Teaching</option>
                                    <option value="Theatre &amp; Drama">Theatre &amp; Drama</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6  col-md-custom">
                        <div class="form-group">
                            <div class="styled-select">
                                <select id="car_select" name="car_select" class="form-control" required="" aria-required="true">
                                    <option value="">- Select City -</option>
                                    <option value="Accounting Technologies">Accounting Technologies</option>
                                    <option value="Computer Science">Computer Science</option>
                                    <option value="Graphic Desing">Graphic Desing</option>
                                    <option value="Economic Analysis">Economic Analysis</option>
                                    <option value="Modern Languages">Modern Languages</option>
                                    <option value="Chemical Engineering">Chemical Engineering</option>
                                    <option value="Software Engineering">Software Engineering</option>
                                    <option value="Electrical &amp; Electronic">Electrical &amp; Electronic</option>
                                    <option value="Banking Honours">Banking Honours</option>
                                    <option value="Games Technologies">Games Technologies</option>
                                    <option value="Information Technologies">Information Technologies</option>
                                    <option value="Marine Science">Marine Science</option>
                                    <option value="Primary Teaching">Primary Teaching</option>
                                    <option value="Theatre &amp; Drama">Theatre &amp; Drama</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6  col-md-custom">
                        <div class="form-group">
                            <div class="styled-select">
                                <select id="car_select" name="car_select" class="form-control" required="" aria-required="true">
                                    <option value="">- Mode of Instituion -</option>
                                    <option value="Accounting Technologies">Accounting Technologies</option>
                                    <option value="Computer Science">Computer Science</option>
                                    <option value="Graphic Desing">Graphic Desing</option>
                                    <option value="Economic Analysis">Economic Analysis</option>
                                    <option value="Modern Languages">Modern Languages</option>
                                    <option value="Chemical Engineering">Chemical Engineering</option>
                                    <option value="Software Engineering">Software Engineering</option>
                                    <option value="Electrical &amp; Electronic">Electrical &amp; Electronic</option>
                                    <option value="Banking Honours">Banking Honours</option>
                                    <option value="Games Technologies">Games Technologies</option>
                                    <option value="Information Technologies">Information Technologies</option>
                                    <option value="Marine Science">Marine Science</option>
                                    <option value="Primary Teaching">Primary Teaching</option>
                                    <option value="Theatre &amp; Drama">Theatre &amp; Drama</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6  col-md-custom">
                        <div class="form-group">
                            <div class="styled-select">
                                <select id="car_select" name="car_select" class="form-control" required="" aria-required="true">
                                    <option value="">- Select Stream -</option>
                                    <option value="Accounting Technologies">Accounting Technologies</option>
                                    <option value="Computer Science">Computer Science</option>
                                    <option value="Graphic Desing">Graphic Desing</option>
                                    <option value="Economic Analysis">Economic Analysis</option>
                                    <option value="Modern Languages">Modern Languages</option>
                                    <option value="Chemical Engineering">Chemical Engineering</option>
                                    <option value="Software Engineering">Software Engineering</option>
                                    <option value="Electrical &amp; Electronic">Electrical &amp; Electronic</option>
                                    <option value="Banking Honours">Banking Honours</option>
                                    <option value="Games Technologies">Games Technologies</option>
                                    <option value="Information Technologies">Information Technologies</option>
                                    <option value="Marine Science">Marine Science</option>
                                    <option value="Primary Teaching">Primary Teaching</option>
                                    <option value="Theatre &amp; Drama">Theatre &amp; Drama</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6  col-md-custom">
                        <div class="form-group">
                            <div class="styled-select">
                                <select id="car_select" name="car_select" class="form-control" required="" aria-required="true">
                                    <option value="">- Select Course -</option>
                                    <option value="Accounting Technologies">Accounting Technologies</option>
                                    <option value="Computer Science">Computer Science</option>
                                    <option value="Graphic Desing">Graphic Desing</option>
                                    <option value="Economic Analysis">Economic Analysis</option>
                                    <option value="Modern Languages">Modern Languages</option>
                                    <option value="Chemical Engineering">Chemical Engineering</option>
                                    <option value="Software Engineering">Software Engineering</option>
                                    <option value="Electrical &amp; Electronic">Electrical &amp; Electronic</option>
                                    <option value="Banking Honours">Banking Honours</option>
                                    <option value="Games Technologies">Games Technologies</option>
                                    <option value="Information Technologies">Information Technologies</option>
                                    <option value="Marine Science">Marine Science</option>
                                    <option value="Primary Teaching">Primary Teaching</option>
                                    <option value="Theatre &amp; Drama">Theatre &amp; Drama</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6  col-md-custom">
                        <div class="form-group">
                            <div class="styled-select">
                                <select id="car_select" name="car_select" class="form-control" required="" aria-required="true">
                                    <option value="">- Mode Of Training -</option>
                                    <option value="Accounting Technologies">Accounting Technologies</option>
                                    <option value="Computer Science">Computer Science</option>
                                    <option value="Graphic Desing">Graphic Desing</option>
                                    <option value="Economic Analysis">Economic Analysis</option>
                                    <option value="Modern Languages">Modern Languages</option>
                                    <option value="Chemical Engineering">Chemical Engineering</option>
                                    <option value="Software Engineering">Software Engineering</option>
                                    <option value="Electrical &amp; Electronic">Electrical &amp; Electronic</option>
                                    <option value="Banking Honours">Banking Honours</option>
                                    <option value="Games Technologies">Games Technologies</option>
                                    <option value="Information Technologies">Information Technologies</option>
                                    <option value="Marine Science">Marine Science</option>
                                    <option value="Primary Teaching">Primary Teaching</option>
                                    <option value="Theatre &amp; Drama">Theatre &amp; Drama</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-1">
                        <div class="form-group">
                            <input name="form_botcheck" class="form-control" type="hidden" value="">
                            <button type="submit" class="btn btn-default btn-lg btn-flat border-left-theme-color-2-4px form-control">Search</button>
                        </div>
                    </div>
                </form>
                <!-- Reservation Form End-->

            </div>
        </div>
    </div>
</section>*@
<!-- Search Form End -->