   <!-- Notification Section Star -->
<section class="notifications pt-40 pb-50">
    <div class="container exam-width">
        <div class="section-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="exam_notification" style="padding-top: 10px;">
                        <table>
                            <tr>
                                <td>
                                    <h4 class="text-uppercase font-weight-600 m-0 pd-0" style="text-align: center;">Exam Notifications</h4>
                                    <ul class="list exam">
                                        <li><a href="notifications-detail.html">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="list exam">
                                        <li><a href="notifications-detail.html">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="list exam">
                                        <li><a href="#">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                    </ul>
                                </td>
                            <tr>
                                <td>
                                    <ul class="list exam">
                                        <li><a href="#">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                    </ul>
                                    <a class="text-theme-color-2 font-12 ml-5 view-more-text" href="#"> View More →</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="exam_notification" style="padding-top: 10px;">
                        <table>
                            <tr>
                                <td>
                                    <h4 class="text-uppercase font-weight-600 m-0 pd-0" style="text-align: center;">Exam Results</h4>
                                    <ul class="list exam">
                                        <li><a href="notifications-detail.html">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="list exam">
                                        <li><a href="notifications-detail.html">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="list exam">
                                        <li><a href="#">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                    </ul>
                                </td>
                            <tr>
                                <td>
                                    <ul class="list exam">
                                        <li><a href="#">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                    </ul>
                                    <a class="text-theme-color-2 font-12 ml-5 view-more-text" href="#"> View More →</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="exam_notification" style="padding-top: 10px;">
                        <table>
                            <tr>
                                <td>
                                    <h4 class="text-uppercase font-weight-600 m-0 pd-0" style="text-align: center;">Job Notifications</h4>
                                    <ul class="list exam">
                                        <li><a href="notifications-detail.html">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="list exam">
                                        <li><a href="notifications-detail.html">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="list exam">
                                        <li><a href="#">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                    </ul>
                                </td>
                            <tr>
                                <td>
                                    <ul class="list exam">
                                        <li><a href="#">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                    </ul>
                                    <a class="text-theme-color-2 font-12 ml-5 view-more-text" href="#"> View More →</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="notifications pt-20 pb-40">
    <div class="container exam-width">
        <div class="section-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="exam_notification">

                        <table>
                            <ul class="list exam">
                                <tr>
                                    <td>
                                        <h4 class="text-uppercase font-weight-600 m-0 pd-0">Exam Notifications</h4>
                                        <ul class="list exam">
                                            <li><a href="notifications-detail.html">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="list exam">
                                            <li><a href="notifications-detail.html">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="list exam">
                                            <li><a href="#">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                        </ul>
                                    </td>
                                <tr>
                                    <td>
                                        <ul class="list exam">
                                            <li><a href="#">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                        </ul>
                                        <a class="text-theme-color-2 font-12 ml-5 view-more-text" href="#"> View More →</a>
                                    </td>
                                </tr>

                        </table>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="exam_notification">

                        <table>
                            <ul class="list exam">
                                <tr>
                                    <td>
                                        <h4 class="text-uppercase font-weight-600 m-0 pd-0">Careers &amp; Internships</h4>
                                        <div class="post-thumb thumb mt-5 mb-5">
                                            <img src="images/blog/1.jpg" alt="" class="img-responsive img-fullwidth">
                                        </div>
                                        <p><a href="#">Do you want to pursue career in environmental science? Check out top 4 options here</a></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="list exam">
                                            <li><a href="#">Career in fashion designing and beyond: All you need to know</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="list exam">
                                            <li><a href="#">Is it OK to hire friends at work? The </a></li>
                                        </ul>
                                    </td>


                        </table>

                    </div>
                </div>


                <div class="col-md-4">
                    <div class="exam_notification">

                        <table>
                            <ul class="list exam">
                                <tr>
                                    <td>
                                        <h4 class="text-uppercase font-weight-600 m-0 pd-0">Government Jobs</h4>
                                        <ul class="list exam">
                                            <li><a href="#">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="list exam">
                                            <li><a href="#">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="list exam">
                                            <li><a href="#">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                        </ul>
                                    </td>
                                <tr>
                                    <td>
                                        <ul class="list exam">
                                            <li><a href="#">rsosapp.rajasthan.gov.in to released Rajasthan RSOS 10th result 2019 on June 19, check details here!</a></li>
                                        </ul>
                                        <a class="text-theme-color-2 font-12 ml-5 view-more-text" href="#"> View More →</a>
                                    </td>
                                </tr>

                        </table>

                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-4">
                    <div class="exam_notification">

                        <table>
                            <ul class="list exam">
                                <tr>
                                    <td>
                                        <h4 class="text-uppercase font-weight-600 m-0 pd-0">Exam Tips & Tricks</h4>
                                        <ul class="list exam">
                                            <li><a href="#">TANCET 2019: Last minute tips and tricks to get high rank</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="list exam">
                                            <li><a href="#">All you need to know about TANCET 2019</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="list exam">
                                            <li><a href="#">Last minute tips to ace UPSC prelims 2019</a></li>
                                        </ul>
                                    </td>
                                <tr>
                                <tr>
                                    <td>
                                        <h4 class="text-uppercase font-weight-600 m-0 pd-0">Exam Tips & Tricks</h4>
                                        <ul class="list exam">
                                            <li><a href="#">TANCET 2019: Last minute tips and tricks to get high rank</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="text-uppercase font-weight-600 m-0 pd-0">Exam Tips & Tricks</h4>
                                        <ul class="list exam">
                                            <li><a href="#">TANCET 2019: Last minute tips and tricks to get high rank</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <td>
                                    <ul class="list exam">
                                        <li><a href="#">UPSC Civil Services 2019 prelims: Dos and don'ts for UPSC IAS exam</a></li>
                                    </ul>
                                    <a class="text-theme-color-2 font-12 ml-5 view-more-text" href="#"> View More →</a>
                                </td>
                                </tr>

                        </table>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="exam_notification">

                        <table>
                            <ul class="list exam">
                                <tr>
                                    <td>
                                        <h4 class="text-uppercase font-weight-600 m-0 pd-0">Old Question Papers</h4>
                                        <ul class="list exam">
                                            <li><a href="#">CBSE Class 12 Chemistry sample paper 2019 with solutions: Practice now</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="list exam">
                                            <li><a href="#">CBSE Class 12 Biology sample paper 2019 with solutions: Check now</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="list exam">
                                            <li><a href="#">CBSE Class 10 English Sample Paper with</a></li>
                                        </ul>
                                    </td>
                                <tr>
                                <tr>
                                    <td>
                                        <h4 class="text-uppercase font-weight-600 m-0 pd-0">Exam Tips & Tricks</h4>
                                        <ul class="list exam">
                                            <li><a href="#">TANCET 2019: Last minute tips and tricks to get high rank</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="text-uppercase font-weight-600 m-0 pd-0">Exam Tips & Tricks</h4>
                                        <ul class="list exam">
                                            <li><a href="#">TANCET 2019: Last minute tips and tricks to get high rank</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <td>
                                    <ul class="list exam">
                                        <li><a href="#">CBSE Board Exam 2019:</a></li>
                                    </ul>
                                    <a class="text-theme-color-2 font-12 ml-5 view-more-text" href="#"> View More →</a>
                                </td>
                                </tr>

                        </table>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="exam_notification side">

                        <table>
                            <ul class="list exam">
                                <tr>
                                    <td>
                                        <h4 class="text-uppercase font-weight-600 m-0 pd-0">Careers &amp; Internships</h4>
                                        <div class="side-img mt-5">
                                            <img src="images/blog/2.jpg" alt="" class="img-responsive">

                                            <strong class="side-content">GMAT: Introduction, sections, length and how to score</strong>

                                            <p><a href="#">Summing up the time taken for each section, the GMAT takes 3 hours and 7 minutes of testing time. It practically takes closer to three-and-a-half hours, after including breaks in between sections. </a></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><a href="#">Tips for students moving to a US college: Adjustment tips, finance management and student visa concerns</p>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><a href="#">Tips for students moving to a US college: Adjustment tips, finance management and student visa concerns</a></p>

                                        <a class="text-theme-color-2 font-12 ml-5 view-more-text" href="#"> View More →</a>
                                    </td>


                        </table>

                    </div>
                </div>


            </div>

        </div>





    </div>



</section>*@
<!-- Notification Section End -->
