<!-- Section: Videos Start -->
<section class="bg-lighter">
    <div class="container">
        <div class="section-title mb-10">
            <div class="row">
                <div class="col-md-12">
                    <a href="#">  <h4 class="widget-title title-dots mt-30"><span><i class="fa fa-youtube-play"></i> Youtube Tutorials</span></h4></a>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="fluid-video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/dP2UQ76gpRc" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="fluid-video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/MNsfYdl-WG8" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="fluid-video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Z-S82lH2Hxk" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="fluid-video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/m8gpuOM_yWM" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 15px;">

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="fluid-video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/WTTSfcdtZ6Y" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="fluid-video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/5qv2gPxR5Ko" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="fluid-video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Upgu4B-P7Xs" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="fluid-video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/KWffGF19iXY" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Videos End -->
