<div class="topbar_wrapper topgreen_bg">
   <div class="container h100p">
       <div class="row justify-content-center align-items-center h100p">
           <div class="d-flex align-items-center h100p mr-auto">
                <div class="d-flex align-items-center h100p bdr_Rblue position-relative pr-4">
                    <div class="img_icon">
                        <img src="../../../assets/images/svg_icons/contact.svg">
                    </div>
                    <div class="pl-3">
                        <small class="text-light">Contact Us</small>
                        <p class="p-0 m-0 text-white">9000090000</p>
                    </div>
                </div>
                <div class="d-flex align-items-center pl-4 h100p">
                    <div class="img_icon">
                        <img src="../../../assets/images/svg_icons/Mail.svg">
                    </div>
                    <div class="text-white pl-3">
                        <small class="text-light">Send Email</small>
                        <p class="p-0 m-0 text-white"><a href="sendto:info@studenthub.in" class="text-white">info@studenthub.in</a></p>
                    </div>
                </div>                
           </div>
           <div class="col-sm-5 text-right d-flex align-items-center">
                <a href="" class="btn btn-outline-darkblue mr-auto">Write a review</a>
                <a href="" class="social_icons"><i class="fab fa-facebook"></i></a>
                <a href="" class="social_icons"><i class="fab fa-instagram"></i></a>
                <a href="" class="social_icons"><i class="fab fa-twitter"></i></a>
                <a href="" class="social_icons"><i class="fab fa-linkedin-in"></i></a>
           </div>
       </div>
   </div>  
</div>